<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">

<head>
  <meta charset="UTF-8">
</head>

<body>
  <div>
    <div class="container">asdf</div>
    <div class="position-relative">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary p-0 fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- <div class="container-fluid p-0 "> -->
          <a class="navbar-brand" href="#">
            <img src="../static/MinhBootstrapIcon/person.svg" width="40" height="40"
              class="d-inline-block align-top mx-3" alt="">
          </a>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item ">
                <a class="nav-link text-white  m-0" href="/adminDisplayWorker_page">
                  <h4>WORKER</h4>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link text-white  m-0" href="/adminDisplayCustomer_page">
                  <h4>USER</h4>
                </a>
              </li>
              <!-- <li class="nav-item ">
                <a class="nav-link text-white  m-0" href="./adminVnpay.html" onclick="">
                    <h4>Transaction List</h4>
                </a>
            </li> -->

              <li class="nav-item" id="div-dad">
                <a class="nav-link text-white  m-0" href="/see-leave-report" id="see-leave-report">
                  <h4>See Leave Report</h4>
                </a>
                <div id="notificationDot">
                  <span id="notificationCount"></span>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white  m-0" href="/see-all-order-by-admin">
                  <h4>See All Order</h4>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white  m-0" href="/see-all-services">
                  <h4>View Services</h4>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white  m-0" href="/see-all-categories">
                  <h4>View Category</h4>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <form action="/logout">
          <button type="submit">Logout</button>
        </form>
      </nav>
    </div>
  </div>

  <div class="container d-flex justify-content-end p-0" style="margin-top: 3%;">
    <div class="form-group  has-feedback col-md-4  d-flex justify-content-center  ">
      <input type="text" class="form-control" name="q" id="search" placeholder="Search">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" id="dropdown-title">none</button>
        <div class="dropdown-menu" id="dropdown-category">
        </div>
      </div>
      <span class="glyphicons glyphicons-xl glyphicons-group form-control-feedback"></span>
    </div>
  </div>
  <script>
    const eventSource = new EventSource('/sse');
    eventSource.addEventListener('leaveReportCount', function(event) {
      const unreadCount = event.data;
      const notificationCountElement = document.getElementById('notificationCount');
      const notificationDotElement = document.getElementById('notificationDot');
      // Update the unread count in the UI
      notificationCountElement.innerText = unreadCount;

      localStorage.setItem('unreadCount', unreadCount);

      // Display/hide the red dot based on unread count
      if (unreadCount > 0) {
        notificationDotElement.style.display = 'block';
      } else {
        notificationDotElement.style.display = 'none';
      }
    });

    // Close the SSE connection when leaving the page
    window.addEventListener('unload', function() {
      eventSource.close();
    });
  </script>
  <style>
    #div-dad {
      position: relative;
      display: inline-block;
    }

    #notificationDot {
      position: absolute;
      top: 3px;
      right: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: red;
      display: none;
      text-align: center;
    }

    #notificationCount {
      display: inline-block;
      margin-top: 1px;
      color: white;
      font-size: 12px;
      font-weight: bold;
    }
  </style>
  <script>
    document.getElementById("see-leave-report").addEventListener("click", function () {
      localStorage.removeItem('unreadCount');
      fetch ("/sse/close", {
        method: 'POST'
      })
              .then(res => {
                if (res.status === 200) {
                }
              })
    })
  </script>
</body>

</html>
