<html lang="en" xmlns:th="http://thymeLeaf.org">

<head>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<header class="bg-blue-bootstrap sticky" id="Home">
  <nav class="navBar mx-3 flex justify-between">

    <div class="profile-btn flex items-center justify-center flex-col">
      <button id="dropdownDividerButton" data-dropdown-toggle="dropdownDivider"
        class="h-inherit bg-white border-2 border-blue-700 hover:bg-gray-300 focus:outline-0 focus:ring-0 rounded-lg px-2 py-2 text-center inline-flex items-center justify-between w-[200px] font-semibold text-lg dropdown-toggle"
        type="button">
        Manage
      </button>

      <div id="dropdownDivider" class="z-10 hidden rounded-lg w-[200px]">
        <ul class="absolute w-inherit rounded-lg border-2 border-blue-700 bg-white"
          aria-labelledby="dropdownDividerButton">
          <li class="relative">
            <a href="/adminDisplayWorker_page"
              class="block font-bold text-[16px] text-blue-bootstrap px-2 py-2 hover:bg-gray-300 rounded-t-lg"><i
                class="bx bx-hard-hat mr-2"></i>Worker</a>
          </li>
          <li class="relative">
            <a href="/adminDisplayCustomer_page"
              class="block font-bold text-[16px] text-blue-bootstrap px-2 py-2 hover:bg-gray-300"><i
                class="bx bx-user mr-2"></i>Customer</a>
          </li>
          <li class="relative flex hover:bg-gray-300 cursor-pointer">
            <a href=" /see-leave-report" class="block font-bold text-[16px] text-blue-bootstrap pl-2 py-2"><i
                class="bx bx-calendar-event mr-2" id="see-leave-report"></i>Leave Report</a>
            <div id="notificationDot" class="bg-red-500 rounded-full w-[20px] h-[20px] text-center mr-2 hidden">
              <span id="notificationCount"
                class="text-white font-bold font-inherit flex justify-center items-center h-inherit"></span>
            </div>
          </li>
          <li class="relative">
            <a href="/see-all-order-by-admin"
              class="block font-bold text-[16px] text-blue-bootstrap px-2 py-2 hover:bg-gray-300"><i
                class="bx bx-cart mr-2"></i>Order</a>
          </li>
          <li class="relative">
            <a href="/see-all-services"
              class="block font-bold text-[16px] text-blue-bootstrap px-2 py-2 hover:bg-gray-300"><i
                class="bx bx-book-content mr-2"></i>Services</a>
          </li>
          <li class="relative">
            <a href="/see-all-categories"
              class="block font-bold text-[16px] text-blue-bootstrap px-2 py-2 hover:bg-gray-300"><i
                class="bx bx-category-alt mr-2"></i>Category</a>
          </li>
          <li class="relative">
            <a href="/see-all-cancel-request"
              class="block font-bold text-[16px] text-blue-bootstrap px-2 py-2 hover:bg-gray-300"><i
                class="bx bxs-x-square mr-2"></i>Cancel Request</a>
          </li>
          <li class="relative">
            <a href="/dashboard"
              class="block font-bold text-[16px] text-blue-bootstrap px-2 py-2 hover:bg-gray-300 rounded-b-lg"><i
                class="bx bxs-dashboard mr-2"></i>Dashboard</a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <form action="/logout" class="m-0">
        <button type="submit" class="py-2 px-3 bg-red-400 rounded-lg">Logout</button>
      </form>
    </div>
  </nav>
</header>

<script>
  const dropDownMenuBtn = document.querySelector('#dropdownDividerButton')
  const dropDownMenu = document.querySelector('#dropdownDivider')
  const eventSource = new EventSource('/sse');

  dropDownMenuBtn.addEventListener('click', () => {
    console.log("clicked")
    dropDownMenu.classList.toggle("hidden")
  })

  eventSource.addEventListener('leaveReportCount', function (event) {
    const unreadCount = event.data;
    const notificationCountElement = document.getElementById('notificationCount');
    const notificationDotElement = document.getElementById('notificationDot');
    // Update the unread count in the UI
    notificationCountElement.innerText = unreadCount;

    localStorage.setItem('unreadCount', unreadCount);

    // Display/hide the red dot based on unread count
    if (unreadCount > 0) {
      notificationDotElement.classList.remove('hidden')
    } else {
      notificationDotElement.classList.add('hidden')
    }
  });

  // Close the SSE connection when leaving the page
  window.addEventListener('unload', function () {
    eventSource.close();
  });


</script>
<script>
  document.getElementById("see-leave-report").addEventListener("click", function () {
    localStorage.removeItem('unreadCount');
    fetch("/sse/close", {
      method: 'POST'
    })
      .then(res => {
        if (res.status === 200) {
        }
      })
  })


</script>

</html>