<html lang="en" xmlns:th="http://thymeLeaf.org">
<footer class="flex items-center justify-between bg-blue-bootstrap px-28 py-10" id="footer">
    <div>
        <a class="text-5xl font-extrabold text-white" href="#home">SuperClean</a>
        <!-- <button class="xm:block md:hidden" id="toggle-button">
            <img class="" id="open-icon" src="../assets/icon-hamburger.svg" alt="" />
            <img class="hidden" id="close-icon" src="../assets/icon-close.svg" alt="" />
        </button> -->
    </div>
    <div class="text-white">
        <p>Contact us</p>
        <ul>
            <li>
                <img class="mr-5 inline w-6 fill-white" src="../../static/assets/svg/phone-rotary-svgrepo-com.svg"
                    alt="phone_svg" />0 856 721 175
            </li>
            <li>
                <img class="fill-w mr-5 inline w-6" src="../../static/assets/svg/mail-svgrepo-com.svg"
                    alt="mail_svg" />example@gmail.com
            </li>
        </ul>
    </div>
    <div>
        <a href="#"><button class="cursor-pointer rounded-full border-none bg-yellow-info px-12 py-6">
                <span class="font-bold">Join us</span>
            </button></a>
    </div>
</footer>
</html>
