<header class="bg-blue-bootstrap p-8" id="Home">
  <nav class="mx-20">
    <div class="flex items-center justify-between">
      <!-- Navbar Brand -->
      <div>
        <a class="text-5xl font-extrabold text-white" href="#Home">SuperClean</a>
        <button class="xm:block md:hidden" id="toggle-button">
          <img class="" id="open-icon" src="../assets/icon-hamburger.svg" alt="" />
          <img class="hidden" id="close-icon" src="../assets/icon-close.svg" alt="" />
        </button>
      </div>
      <!-- Navlinks list -->
      <div>
        <ul class="flex list-none space-x-20">
          <li class="text-xl font-medium text-white"><a href="/">Home</a></li>
          <li class="text-xl font-medium text-white"><a href="#about">About</a></li>
          <li class="text-xl font-medium text-white"><a href="#service">Service</a></li>
          <li class="text-xl font-medium text-white"><a href="#footer">Contact</a></li>
        </ul>
      </div>
      <!-- Profile links -->
      <div>
        <a href="/login"
        ><button
                class="cursor-pointer rounded-xl border-none bg-white px-10 py-4 font-extrabold text-blue-bootstrap"
        >
          Login
        </button></a
        >
      </div>
    </div>
  </nav>
</header>