<html lang="en" xmlns:th="http://thymeLeaf.org">

<head>
  <style>
    #order-form {
      /* Additional styling for position, background color, etc. */
      /* Position it on top of the current page */
      position: fixed;
      background-color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      z-index: 999;
      /* Other desired styles */
    }
  </style>
</head>

<body>
  <div>
    <form class="rounded-lg border-2 border-black" id="order-form" style="display: none;">
      <div class="flex justify-center rounded-t-lg bg-yellow-info">
        <h1 class="px-8 py-4 font-bold text-xl">Order Service</h1>
      </div>
      <div class="p-8 space-y-2">
        <input type="hidden" th:value="${session.loginedUser != null} ? 1 : 0" class="checkSession">
        <p>Service name: <span class="serviceName">House cleaning</span></p>
        <p>Price: <span class="price">100$</span></p>
        <label for="timeSlot">Time Slot:</label>
        <div id="timeSlot"></div>
        <label for="payment">Payment:</label>
        <div id="payment"></div>
        <label for="phonenumber" th:if="${session.loginedUser}">Phone Number: </label>
        <div id="phonenumber" th:if="${session.loginedUser}"></div>
      </div>


      <div class="px-8 pb-8">
        <label for="date">Date: </label>
        <input class="border-2" type="date" id="date" name="day" />
      </div>

      <br /><br />
      <div class="flex justify-center space-x-4">
        <button class="px-10 py-4 bg-blue-bootstrap text-white rounded-lg my-8" type="submit" id="submit-btn">
          Submit
        </button>
        <button class="px-10 py-4 bg-red-cancel text-white rounded-lg my-8" id="cancel-btn">
          Cancel
        </button>
      </div>
    </form>
  </div>
  <script>
    const orderForm = document.getElementById("order-form");
    const cancelBtn = document.getElementById("cancel-btn");
    const checkSession = document.querySelector('.checkSession')

    const requestBody = {
      timeId: 0,
      paymentId: 0,
      day: 0,
      serviceId: 0,
      phonenumberId: 0
    };

    const loadOrderForm = () => {
      const paymentDiv = document.getElementById("payment");
      const timeSlotDiv = document.getElementById("timeSlot");
      const phoneDiv = document.getElementById("phonenumber")
      paymentDiv.innerHTML = "";
      timeSlotDiv.innerHTML = "";
      fetch("/api/order/timeSlot")
        .then((response) => response.json())
        .then((data) => {
          // Create radio buttons for each time slot
          data.forEach((timeSlot) => {
            const radioBtn = document.createElement("input");
            radioBtn.type = "radio";
            radioBtn.name = "timeSlot";
            radioBtn.value = timeSlot.timeSlotId;

            const label = document.createElement("label");
            label.textContent = `  ${timeSlot.startTime} - ${timeSlot.endTime}`;

            // Append radio button and label to the timeSlotDiv
            timeSlotDiv.appendChild(radioBtn);
            timeSlotDiv.appendChild(label);
            timeSlotDiv.appendChild(document.createElement("br"));
          });
        })
        .catch((error) => {
          console.log("Error fetching time slots:", error);
        });

      fetch("/api/order/payment")
        .then((response) => response.json())
        .then((data) => {
          const selectPayment = document.createElement("select");
          selectPayment.name = "payment";
          selectPayment.classList.add("border-2");
          // Create option elements for each payment option
          data.forEach((payment) => {
            const option = document.createElement("option");
            option.value = payment.paymentId;
            option.textContent = payment.paymentName;
            // Append each option to the select element
            selectPayment.appendChild(option);
          });

          // Append the select element to the paymentDiv
          paymentDiv.appendChild(selectPayment);
        })
        .catch((error) => {
          console.log("Error fetching payment options:", error);
        });

      fetch(`/createAccountAPI/getAllPhonenumber`, {
        method: "get"
      })
        .then(response => response.json())
        .then(data => {
          const selectPhone = document.createElement("select");
          selectPhone.name = "phonenumber";
          selectPhone.classList.add("border-2");
          console.log(data)
          const phoneListTag = document.getElementById("phonenumber")
          for (var i in data) {
            var option = document.createElement("option");
            option.value = data[i].phoneId
            option.textContent = data[i].number
            selectPhone.appendChild(option)
          }
          phoneDiv.appendChild(selectPhone)
          requestBody.phonenumberId = data[0].phoneId;
        })

    };





    orderForm.addEventListener("submit", async (e) => {
      // Retrieve the selected radio button value
      e.preventDefault();
      if (checkSession.value == 0) {
        window.location.href = "/login"
      }

      const selectedTimeSlot = document.querySelector(
        'input[name="timeSlot"]:checked'
      ).value;
      const selectedPayment = document.querySelector(
        'select[name="payment"]'
      ).value;
      const selectedPhone = document.querySelector(
        'select[name="phonenumber"]'
      ).value;
      // Create the request body
      requestBody.timeId = selectedTimeSlot;
      requestBody.paymentId = selectedPayment;
      requestBody.day = document.getElementById("date").value;
      requestBody.phonenumberId = selectedPhone;
      let response = await fetch("/vnpay/createPayment", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(requestBody),
      })
      let status = await response.status;
      let toText = await response.text();
      console.log(status)
      console.log(toText)
      if (status == 200) {

        if (toText === "COD") {
          alert("Successfully created order")
          console.log("COD success")
          window.location.href = "/order-history"
        } else if (toText.includes("https://sandbox.vnpayment.vn/paymentv2/vpcpay.html") == false) {
          window.location.href = "/login"
        }
        else {
          alert("Successfully created order")
          window.location.replace(toText)
        }
      } else {
        console.log("Fail");
        alert("Fail in ordering: " + toText);
      }

    });

    const orderBtns = Array.from(document.getElementsByClassName("order-btn"));
    for (var i = 0; i < orderBtns.length; i++) {
      orderBtns[i].addEventListener("click", function () {
        displayForm(this.parentElement.parentElement.querySelector('.price').innerHTML, this.parentElement.parentElement.querySelector('.serviceName').innerHTML);
        const inputValue = this.parentNode.querySelector(
          'input[type="hidden"]'
        ).value;
        requestBody.serviceId = inputValue;
        // You can perform further actions with the input value here
      });
    }
    const displayForm = (money, name) => {
      const price = orderForm.querySelector('.price')
      const serviceName = orderForm.querySelector('.serviceName')
      console.log('display');
      price.innerHTML = money
      serviceName.innerHTML = name
      orderForm.style.display =
        orderForm.style.display === "none" ? "block" : "none";
    };
    document.addEventListener("click", (event) => {
      if (!orderForm.contains(event.target) && !orderBtns.includes(event.target)) {
        // Hide the form if the click is outside the form segment and not on the order button
        orderForm.style.display = "none";
      }
    });
    cancelBtn.addEventListener("click", (e) => {
      e.preventDefault();
      orderForm.style.display = "none";
    });
  </script>

</body>

</html>