<div class="flex flex-col">
  <div class="stars-container w-fit">
    <div class="w-full flex">
      <div class="stars-outer">
        <div class="stars-inner"></div>
      </div>
      <div class="display-avg-rating flex items-center ml-1 text-[13px]"></div>
    </div>

    <!-- <div class="avgRatingContainer hidden z-10 divide-y shadow w-[400px]">
      <div class="absolute w-inherit px-3 py-2 rounded-lg bg-slate-200 space-y-3 z-1"
        aria-labelledby="dropdownDividerButton">

        <div class="flex items-center">
          <div class="stars-outer mr-2">
            <div class="stars-inner"></div>
          </div>
          <span class="avg-stars"></span>
        </div>

        <div class="flex justify-center items-center" th:each="rating : ${ratingArr}">
          <span class="mr-2 whitespace-nowrap min-w-[45px]" th:text="${rating} + ' star'">5 star</span>
          <div class="w-full flex bg-gray-400 rounded-full h-4 min-w-[282px]">
            <div class="avg-star-percentage bg-blue-600 h-inherit rounded-full w-40%"></div>
          </div>
          <span class="percentage-text ml-2 whitespace-nowrap min-w-[32px]"></span>

        </div>
      </div>
    </div> -->
  </div>



</div>