<html lang="en" xmlns:th="http://thymeLeaf.org">
<header class="bg-blue-bootstrap lg:p-8 xl:p-8 md:p-8 sm:pb-0 sm:px-3 sm:pt-0 xm:pb-0 xm:px-3 xm:pt-0" id="Home">
  <nav class="navBar lg:mx-20 md:mx-20 sm:mx-0 xm:mx-0 space-x-6">
    <div
            class="lg:flex md:flex xl:flex xl:items-center lg:items-center md:items-center xl:justify-between lg:justify-between md:justify-between sm:hidden xm:hidden">
      <div>
        <a class="logo text-5xl font-extrabold text-white" href="/">SuperClean</a>
      </div>

      <div>
        <ul class="flex list-none space-x-20">
          <li class="text-xl font-medium text-white"><a href="/your-schedule">Schedule</a></li>
          <li class="text-xl font-medium text-white"><a href="/leave-register">Leave Registration</a></li>
          <li class="text-xl font-medium text-white"><a href="/cancel-request-worker">Cancel Request</a></li>
        </ul>
      </div>
      <!-- Profile links -->

      <div th:unless="${session.loginedUser}">
        <a href="/login">
          <button class="cursor-pointer rounded-xl border-none bg-white px-10 py-4 font-extrabold text-blue-bootstrap">
            Login
          </button>
        </a>
      </div>

      <div th:if="${session.loginedUser}" class="profile-btn flex items-center justify-center flex-col w-44">
        <button id="dropdownDividerButton" data-dropdown-toggle="dropdownDivider"
                class="w-full h-inherit bg-white border-2 border-blue-700 hover:bg-gray-300 focus:outline-0 focus:ring-0 font-medium rounded-lg text-sm px-2 py-2 text-center inline-flex items-center justify-between "
                type="button">
          <span class="w-[20%] ">
            <img src="../../static/assets/images/user.png" alt="user-pfp"
                 class="pfp border-2 rounded-full border-blue-bootstrap h-[1.68] w-[1.68] object-cover">
          </span>
          <span class="username w-[70%] box-border px-2 mr-2 overflow-hidden text-blue-bootstrap font-bold text-[16px]"
                th:text="${session.loginedUser.accountName}"></span>
          <svg class="w-[10%] h-4" aria-hidden="true" fill="none" stroke="currentColor" viewbox="0 0 24 24"
               xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>

        <div id="dropdownDivider" class="z-10 hidden divide-y divide-gray-100 rounded-lg shadow w-44">
          <ul class="absolute w-inherit rounded-lg border-2 border-blue-700 bg-white"
              aria-labelledby="dropdownDividerButton">
            <li class="relative">
              <a href="/worker-Profile"
                 class="block font-bold text-[16px] text-blue-bootstrap px-4 py-2 hover:bg-gray-300 rounded-t-lg"><i
                      class="fa fa-user mr-2"></i>Profile</a>
            </li>
            <li class="relative">

              <a href="/logout"
                 class="block font-bold text-[16px] text-blue-bootstrap px-4 py-2 hover:bg-gray-300 rounded-b-lg "><i
                      class="fa fa-sign-out mr-2"></i>Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="lg:hidden xl:hidden md:hidden lg:h-[0px] xl:h-[0px] md:h-[0px] sm:block xm:block">
      <div class="flex justify-between px-3 py-4">
        <div>
          <a class="text-5xl font-extrabold text-white" href="./index.html">SuperClean</a>
        </div>
        <button class="bars-toggle text-[2rem] text-white"><i class="fa fa-bars"></i></button>
      </div>

      <ul class="list-none transition-all duration-300 ease-linear overflow-hidden links lg:h-0 md:h-0 xl:h-0">
        <li class="text-white"><a href="#" class="px-[1rem] py-[0.5rem] block"><i
                class="fa fa-user mr-2"></i>Profile</a></li>
        <li class="text-white"><a href="#" class="px-[1rem] py-[0.5rem] block"><i class="fa fa-history mr-2"></i>Orders
          History</a></li>
        <li class="text-white"><a href="#" class="px-[1rem] py-[0.5rem] block"><i
                class="fa fa-sign-out mr-2"></i>Logout</a></li>
      </ul>
    </div>
  </nav>
</header>
<script>
  const dropDownMenuBtn = document.querySelector('#dropdownDividerButton')
  const dropDownMenu = document.querySelector('#dropdownDivider')
  const navBar = document.querySelector('.navBar')
  const profileBtn = document.querySelector('.profile-btn')

  const logo = document.querySelector('.logo');
  const logoStyle = window.getComputedStyle(logo, null).getPropertyValue('font-size');
  const logoFontSize = parseFloat(logoStyle);

  let navBarHeight = navBar.getBoundingClientRect().height;

  profileBtn.style.height = `${logoFontSize}px`

  dropDownMenuBtn.addEventListener('click', () => {
    console.log("clicked")
    dropDownMenu.classList.toggle("hidden")
  })

</script>

</html>