body{
    margin: 0;
    padding: 0;
    background-color: rgb(215, 215, 215);
}
.header{
    text-align: center;

}
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100% ;
    height: 100%;
    position: absolute;
    top:0;
    display: none;
}

.login-button{
    background-color: black;
    color: aliceblue;

}
.form{
    left: 0;
    background-color: white;
    width: 40%;
    border: 2px black solid;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
}
.form-close{
    background-color: green;
    position: absolute;
    top: -15px;
    right:-15px;
    border: 1px solid black;

}
.form-create-table{
    margin: 0 auto;

}
.error-message{
    color: red;
    visibility: hidden;
}



