.form{
    position: fixed;
    left: 50%;top: 20%;
    transform: translate(-50%, 0);
    margin: auto;
    background-color: white;
    max-width: 40%;
    border: 2px #000000 solid;
    
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: smaller;
}
.form-create{
    position: relative;
    font-size: small;
}
.form-close{
    position: relative;
    background-color: green;
    position: absolute;
    top: -15px;
    right:-15px;
    border: 1px solid black;

}
.form-create-table{
    margin: 0 auto;

}
.error-message{
    font-size: smaller;
    color: red;
    visibility: hidden;
}
.table-worker{
    display: none;
}
.table-customer{
    display: none;
}


