<html lang="en" xmlns:th="http://thymeLeaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worker Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/097aba0852.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/tailwind/font.css">
    <link rel="stylesheet" href="../static/tailwind/index.css">
</head>

<body>
    <header th:replace="~{./fragments/adminHeader.html}"></header>

    <div id="main" class="container px-3 mt-3">
        <div class="container flex justify-between p-0 my-3 ">
            <div class="">
                <button class="btn btn-primary text-white" onclick="openCreateForm()">
                    Create worker
                </button>
            </div>
            <div class="flex justify-center w-[30%]">
                <!-- <label class="sr-only" for="search">Search</label> -->
                <input type="text" class="flex-1 bg-slate-300 rounded-lg px-2" name="q" id="search"
                    placeholder="Search">
                <div class="">
                    <button class="py-2 px-3 bg-green-300 rounded-lg dropdown-toggle capitalize" type="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        id="dropdown-title">none</button>
                    <div class="dropdown-menu" id="dropdown-category">

                    </div>
                </div>
                <span class="glyphicons glyphicons-xl glyphicons-group">
                </span>
            </div>
        </div>
        <table class="table-worker table-auto worker-table block" data-sort-order="desc">
            <thead>
                <tr class="bg-black">
                    <th id="heading-id-w" class="table-heading py-3 asc text-center cursor-pointer select-none"
                        onclick="sortById(0)">
                        <span class="heading capitalize text-white">accountID</span>
                    </th>

                    <th id="heading-email-w" class="table-heading py-3 asc text-center">
                        <span class="heading capitalize text-white">email</span>
                    </th>

                    <th id="heading-firstname-w" class="table-heading py-3 asc text-center cursor-pointer select-none"
                        onclick="sortByFirstname(2)">
                        <span class="heading capitalize text-white">Full name</span>
                    </th>

                    <!-- <th id="heading-lastname-w" class="table-heading py-3 asc text-center cursor-pointer select-none"
                    onclick='sortByLastname(3)'>
                    <span class="heading capitalize text-white">lastname</span>
                </th> -->

                    <th id="heading-dob-w" class="table-heading py-3 asc text-center">
                        <span class="heading capitalize text-white">dob</span>
                    </th>

                    <th id="heading-status-w" class="table-heading py-3 asc text-center">
                        <span class="heading capitalize text-white">status</span>
                    </th>

                    <th class="table-heading py-3 text-center">
                        <span class="capitalize text-white">action</span>
                    </th>
                </tr>
            </thead>
            <tbody id="worker-list">

            </tbody>
        </table>
    </div>
    <!--  WORKER FORM -->
    <!--  WORKER FORM -->
    <!--  WORKER FORM -->
    <div id="FORM"
        class="container fixed top-0 start-0 w-100 h-100 flex flex-col justify-center hidden items-center form z-99"
        style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="w-[50%] rounded-lg bg-white">
            <form id="create-form" class="px-5 py-3">
                <div class="text-center font-semibold text-xl">Add new worker</div>

                <label>Username</label><span id="error-username"
                    class="ml-1 font-semibold text-sm error-message italic text-red-500"></span>
                <input type="text" class="bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2" aria-describedby="emailHelp"
                    placeholder="" name="txtUsername">

                <label>Password</label><span id="error-password"
                    class="ml-1 font-semibold text-sm error-message italic text-red-500"></span>
                <input type="password" class="bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2" placeholder=""
                    name="txtPassword">

                <label>Email</label><span id="error-email"
                    class="ml-1 font-semibold text-sm error-message italic text-red-500"></span>
                <input type="text" class="bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2" aria-describedby="emailHelp"
                    placeholder="" name="txtEmail">

                <label>Firstname</label><span id="error-firstname"
                    class="ml-1 font-semibold text-sm error-message italic text-red-500"></span>
                <input type="text" class="bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2" placeholder=""
                    name="txtFirstname">

                <label>Lastname</label><span id="error-lastname"
                    class="ml-1 font-semibold text-sm error-message italic text-red-500"></span>
                <input type="text" class="bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2" placeholder=""
                    name="txtLastname">

                <label>Dob</label><span id="error-dob"
                    class="ml-1 font-semibold text-sm error-message italic text-red-500"></span>
                <input type="date" class="bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2" placeholder=""
                    name="txtDate">

                <label>PhoneNumber</label><span id="error-phonenumber"
                    class="ml-1 font-semibold text-sm error-message italic text-red-500"></span>
                <input type="text" class="bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2" placeholder=""
                    name="txtPhonenumber">

                <label>Service</label><br>
                <input type="hidden" name="txtServiceId" id="w-create-form-serviceid" value="">
                <select onchange="creatAccountService(this.value)"
                    class="bg-slate-200 rounded-lg w-full px-2 py-1 mb-3">
                    <option th:each="c : ${category}" th:value="${category != null} ? ${c.serviceCategoryId}"
                        th:text="${category != null} ? ${c.serviceCategoryName}">
                    </option>
                </select>
                <div class="flex justify-center items-center">
                    <input class="rounded-lg bg-red-300 border-2 border-red-400 px-3 py-2 w-full hover:bg-transparent"
                        type="button" value="Close" onclick="closeCreateForm()">
                    <input
                        class="ml-2 createWorkerBtn rounded-lg bg-blue-300 border-2 border-blue-400 px-3 py-2 w-full hover:bg-transparent disabled:bg-blue-50 disabled:cursor-default"
                        type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>

    <div th:replace="~{./adminUpdateWorker.html}"></div>

</body>
<script src="../static/js/AdminPublicFunction.js"></script>
<script src="../static/js/updateWorker.js"></script>
<script>
    var error_username, error_password, error_email, error_firstname, error_lastname, error_dob, error_phonenumber, error_service;

    const errorMessage = document.querySelectorAll('.error-message')
    const tableHeading = document.querySelectorAll('.table-heading')

    const w_update_form = document.getElementById("w-update-form");
    const workerTable = document.querySelector('.worker-table')

    const workerTableLength = workerTable.getBoundingClientRect().width
    const widthForEachColumn = parseInt(workerTableLength / tableHeading.length + 10)
    let workerStatusDict = null
    let updateBtn = ""
    const updateFormContainer = document.querySelector('.updateFormContainer')
    const updateWorkerBtn = document.querySelector('.updateWorkerBtn')

    console.log(workerTableLength)
    const createForm = document.getElementById("FORM")
    const createWorkerBtn = document.querySelector('.createWorkerBtn')


    //error_service = document.getElementById("error-service")
    let i = 0

    tableHeading.forEach(h => {
        if (i == tableHeading.length - 1) {
            h.style.width = `${widthForEachColumn + 100}px`

        }
        else {
            h.style.width = `${widthForEachColumn}px`

        }
        i++
    })
    getWorkerList()
    applyHeaderToSearchCategory()
    async function getWorkerList() {
        console.log("inside get worker")
        const response = await fetch("/UserRestController/getWorkerStatus")

        data = await response.json();

        printRow(data, "worker-list");
        console.log(data)
        workerStatusDict = data.reduce((acc, cur) => {
            acc[cur.account.accountId] = cur;
            return acc;
        }, {});
        console.log("workerStatusDict: ")
        console.log(workerStatusDict)
        const accountKeyFilter = ["accountId", "accountName", "accountStatus", "dob", "email", "firstName", "lastName", "phones", "username"]
        const serviceKeyFilter = ["serviceCategoryId", "serviceCategoryName"]
        for (let key in workerStatusDict) {
            const account = workerStatusDict[key].account
            const service = workerStatusDict[key].serviceCategory
            const filteredAccount = Object.keys(account).filter(key => accountKeyFilter.includes(key)).reduce((obj, key) => {
                obj[key] = account[key];
                return obj;
            }, {});
            const filteredService = Object.keys(service).filter(key => serviceKeyFilter.includes(key)).reduce((obj, key) => {
                obj[key] = service[key]
                return obj
            }, {})
            workerStatusDict[key] = { ...workerStatusDict[key], ...filteredAccount }
            workerStatusDict[key] = { ...workerStatusDict[key], ...filteredService }
            delete workerStatusDict[key].account
            delete workerStatusDict[key].serviceCategory
        }
        console.log(workerStatusDict)
    }

    function printRow(data, IdOfTableBody) {
        console.log(IdOfTableBody)
        var table_tag = document.getElementById(`${IdOfTableBody}`);
        // console.log(table_tag.innerHTML)
        table_tag.innerHTML = ""
        console.log(data)
        var output = "";
        for (var i in data) {
            roleString = (data[i].account.role == 1) ? "worker" : "user";
            statusString = (data[i].account.accountStatus == 1) ? "active" : "off ";
            var date_new; var date_output;
            if (data[i].account.dob == null) {
                date_output = "not yet imported"
            } else {
                date_new = new Date(data[i].account.dob); console.log(date_new)
                date_output = new Intl.DateTimeFormat('en-US').format(date_new);
            }
            // onclick='showFullCustomerInfo(${data[i].accountId})'
            output = `
            <tr id="${data[i].account.accountId}" class="item-to-search even:bg-[#c4c4c4] odd:bg-[#fffff4]">
            `
            if (data[i].account.role == 1) {
                output += `<td class="accountid text-center" onclick="showFullWorkerInfo(${data[i].account.accountId})"><input type="hidden" name="txtID" value="${data[i].account.accountId}">${data[i].account.accountId}</td>`;
            } else {
                output += `<td class="accountid text-center" onclick="showFullCustomerInfo(${data[i].account.accountId})"><input type="hidden" name="txtID" value="${data[i].account.accountId}">${data[i].account.accountId}</td>`;
            }
            output += `
                <td class="email py-3 text-center"><input type="hidden" name="txtEmail"value="${data[i].account.email}">${data[i].account.email}</td>
                <td class="fullname py-3 text-center"><input type="hidden" name="txtFirstname"value="${data[i].account.firstName}">${data[i].account.firstName} ${data[i].account.lastName}</td>
                <td class="lastname hidden py-3 text-center"><input type="hidden" name="txtLastname"value="${data[i].account.lastName}">${data[i].account.lastName}</td>
                <td class="dob py-3 text-center"><input type="hidden" name="txtDob"value="${data[i].account.dob}">${date_output}</td>
                <td class="status py-3 text-center"><input type="hidden" name="txtStatus"value="${data[i].account.accountStatus}">${statusString}</td>
                <td class="accountName hidden py-3 text-center"><input type="hidden" name="txtUsername" value="${data[i].account.accountName}"></td>
                <td class="password hidden py-3 text-center"><input type="hidden" name="txtPassword" value="${data[i].account.password}"></td>
                    <td class="py-3 text-center">
                        <button class="updateBtn text-center bg-green-400 py-2 px-3 rounded-lg w-[45%] capitalize" onclick="openUpdateForm(${data[i].account.accountId})">update</button>

                    `
            if (data[i].account.accountStatus == 1) {
                output +=
                    `
                        <button class="text-center bg-slate-400 py-2 px-3 rounded-lg w-[45%] capitalize" onclick='confirmation(${data[i].account.accountId})'>deactivate</button>
                    </td>`
            } else {
                output +=
                    `
                        <button class="text-center bg-yellow-400 px-3 py-2 rounded-lg w-[45%] capitalize" onclick='confirmation(${data[i].account.accountId})'>activate</button>
                    </td>`;
            }
            output +=
                `
                </tr>`

            table_tag.innerHTML += output;

            sorttableCategory()
        }

    }


    async function openCreateForm() {
        error_username = document.getElementById("error-username")
        error_password = document.getElementById("error-password")
        error_email = document.getElementById("error-email")
        error_firstname = document.getElementById("error-firstname")
        error_lastname = document.getElementById("error-lastname")
        error_dob = document.getElementById("error-dob")
        error_phonenumber = document.getElementById("error-phonenumber")
        createForm.classList.toggle('hidden')
        // document.querySelectorAll(".overlay")[0].style.display = "block";
        //document.getElementById("form").style.display = "block";
        var response = await fetch(`/UserRestController/getServiceCategory`, {
            method: "GET"
        });
        console.log("yes get service");
        var service_list = await response.json();
        // var drop_down_service = document.getElementById("w-create-form-dropdown-service"); console.log(drop_down_service)
        // drop_down_service.innerHTML = "";
        // var output = "";
        // for (var i in await service_list) {
        //     output =
        //         `
        //     <a class="dropdown-item" onclick="creatAccountService('${service_list[i].serviceCategoryId})" >
        //         ${service_list[i].serviceCategoryName}
        //     </a>
        // `;
        //     drop_down_service.innerHTML += output;
        // }
        document.getElementById("w-create-form-serviceid").value = service_list[0].serviceCategoryId;
        //creatAccountService(service_list[0].serviceCategoryName,service_list[0].serviceCategoryId)
    }
    async function deleteByID(id) {
        console.log("CONFIRMATION")
        var getResult = await confirmation();
        if (getResult) {
            console.log(id)
            const response = await fetch(`/UserRestController/deleteWorker/${id}`, {
                method: "DELETE",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }
            );
            console.log("yes call api success DELETE")
            console.log(response)
            if (response.status == 500) {
                alert("delete fail, might be server side");
                return;
            } else {
                data = await response.json();
                console.log("role: " + data[0].role)
                if (data[0].role == 1) {
                    printRow(data, "worker-list");
                } else {
                    printRow(data, "customer-list");
                }

            }
        } else {
            return;
        }

    }

    async function confirmation(id) {
        console.log("CONFIRMATION")
        var getResult = confirm(" are you sure want to delete or re-active this account?");
        if (getResult) {
            deleteByID(id)
        } else {
            return;
        }
    }



    const form = document.getElementById("create-form");
    form.addEventListener('submit', async function (event) {
        createWorkerBtn.disabled = true
        console.log(form)
        event.preventDefault();
        const form_data = new FormData(form);
        const data = Object.fromEntries(form_data);
        console.log(data);
        const response = await fetch("/UserRestController/createAccountWorker/1",
            {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
        var status = await response.status
        var responseData = await response.json()
        console.log(responseData)
        if (status < 200 || status > 300) {
            error_username.style.visibility = "visible"; error_username.innerHTML = '❌' + responseData.usernameErr.charAt(0).toUpperCase() + responseData.usernameErr.slice(1)
            error_password.style.visibility = "visible"; error_password.innerHTML = '❌' + responseData.passwordErr.charAt(0).toUpperCase() + responseData.passwordErr.slice(1)
            error_email.style.visibility = "visible"; error_email.innerHTML = '❌' + responseData.emailErr.charAt(0).toUpperCase() + responseData.emailErr.slice(1)
            error_firstname.style.visibility = "visible"; error_firstname.innerHTML = '❌' + responseData.firstnameErr.charAt(0).toUpperCase() + responseData.firstnameErr.slice(1)
            error_lastname.style.visibility = "visible"; error_lastname.innerHTML = '❌' + responseData.lastnameErr.charAt(0).toUpperCase() + responseData.lastnameErr.slice(1)
            error_dob.style.visibility = "visible"; error_dob.innerHTML = '❌' + responseData.dateErr.charAt(0).toUpperCase() + responseData.dateErr.slice(1)
            error_phonenumber.style.visibility = "visible"; error_phonenumber.innerHTML = '❌' + responseData.phonenumberErr.charAt(0).toUpperCase() + responseData.phonenumberErr.slice(1)
            if (responseData.usernameErr == "") { error_username.innerHTML = "✔"; }
            if (responseData.passwordErr == "") { error_password.innerHTML = "✔"; }
            if (responseData.emailErr == "") { error_email.innerHTML = "✔"; }
            if (responseData.firstnameErr == "") { error_firstname.innerHTML = "✔"; }
            if (responseData.lastnameErr == "") { error_lastname.innerHTML = "✔"; }
            if (responseData.dateErr == "") { error_dob.innerHTML = "✔"; }
            if (responseData.phonenumberErr == "") { error_phonenumber.innerHTML = "✔"; }
        } else {
            error_username.style.visibility = "visible"; error_username.innerHTML = "✔";
            error_password.style.visibility = "visible"; error_password.innerHTML = "✔";
            error_email.style.visibility = "visible"; error_email.innerHTML = "✔";
            error_firstname.style.visibility = "visible"; error_firstname.innerHTML = "✔";
            error_lastname.style.visibility = "visible"; error_lastname.innerHTML = "✔";
            error_dob.style.visibility = "visible"; error_dob.innerHTML = "✔";
            error_phonenumber.style.visibility = "visible"; error_phonenumber.innerHTML = "✔";
            alert("Create worker success")
            closeCreateForm()
            getWorkerList()
        }
        createWorkerBtn.disabled = false

    })

    w_update_form.addEventListener('submit', async function (event) {
        updateWorkerBtn.disabled = true
        console.log(w_update_form)
        event.preventDefault();
        var form_data = new FormData(w_update_form);
        var data = Object.fromEntries(form_data);
        console.log(data);
        var response = await fetch("/UserRestController/updateAccountWorker/1",
            {
                method: "put",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

        var status = await response.status
        var responseData = await response.json()
        console.log(response.status)
        console.log(responseData)
        if (status >= 200 && status <= 300) {
            error_username.style.visibility = "hidden";
            //error_password.style.visibility = "hidden";
            error_email.style.visibility = "hidden";
            error_firstname.style.visibility = "hidden";
            error_lastname.style.visibility = "hidden";
            error_dob.style.visibility = "hidden";
            error_phonenumber.style.visibility = "hidden";
            console.log('yes successs')
            // alert("successfully update");
            alert("Update worker success")
            getWorkerList()
            getAdminWorkerPage()
        } else {
            console.log(error_username)
            error_username.innerHTML = "❌" + responseData.usernameErr
            error_email.style.visibility = "visible"; error_email.innerHTML = "❌" + responseData.emailErr
            error_firstname.style.visibility = "visible"; error_firstname.innerHTML = "❌" + responseData.firstnameErr
            error_lastname.style.visibility = "visible"; error_lastname.innerHTML = "❌" + responseData.lastnameErr
            error_dob.style.visibility = "visible"; error_dob.innerHTML = "❌" + responseData.dateErr
            error_phonenumber.style.visibility = "visible"; error_phonenumber.innerHTML = "❌" + responseData.phonenumberErr
            if (responseData.usernameErr == "") { error_username.style.visibility = "hidden"; }
            if (responseData.emailErr == "") { error_email.style.visibility = "hidden"; }
            if (responseData.firstnameErr == "") { error_firstname.style.visibility = "hidden"; }
            if (responseData.lastnameErr == "") { error_lastname.style.visibility = "hidden"; }
            if (responseData.dateErr == "") { error_dob.style.visibility = "hidden"; }
            if (responseData.phonenumberErr == "") { error_phonenumber.style.visibility = "hidden"; }
        }
        updateWorkerBtn.disabled = false
    })

    function closeCreateForm() {
        // document.querySelectorAll(".overlay")[0].style.display = "none";
        document.getElementById("create-form").reset()
        error_username.style.visibility = "hidden";
        error_password.style.visibility = "hidden";
        error_email.style.visibility = "hidden";
        error_firstname.style.visibility = "hidden";
        error_lastname.style.visibility = "hidden";
        error_dob.style.visibility = "hidden";
        error_phonenumber.style.visibility = "hidden";
        createForm.classList.toggle('hidden')
        //document.querySelectorAll(".form")[0].style.display = "none";

    }
    //delay 1 second
    function delay(time) {
        return new Promise(resolve => setTimeout(resolve, time));
    }
    async function deleteByID(id) {
        console.log(id)
        const response = await fetch(`/UserRestController/deleteWorker/${id}`, {
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }
        );
        var status = await response.status
        var bodyJson = await response.json()
        console.log("yes call api success DELETE")
        console.log(bodyJson)
        if (status >= 200 && status <= 300) {
            console.log(bodyJson[0].role)
            printRow(bodyJson, "worker-list");
        }
        else {
            alert("delete fail, might be server side");
            return;
        }
    }
    //////////////////Test sort by category

    function creatAccountService(serviceid) {
        console.log(serviceid);
        document.getElementById("w-create-form-serviceid").value = serviceid;
    }

    function openUpdateForm(id) {
        error_username = document.getElementById("error-username-updateWorker")
        error_email = document.getElementById("error-email-updateWorker")
        error_firstname = document.getElementById("error-firstname-updateWorker")
        error_lastname = document.getElementById("error-lastname-updateWorker")
        error_phonenumber = document.getElementById("error-phonenumber-updateWorker")
        error_dob = document.getElementById("error-dob-updateWorker")
        let uid = updateFormContainer.querySelector('.uId')
        let username = updateFormContainer.querySelector('.uName')

        let email = updateFormContainer.querySelector('.uEmail')
        let firstName = updateFormContainer.querySelector('.uFname')
        let lastName = updateFormContainer.querySelector('.uLname')

        let phone = updateFormContainer.querySelector('.uPhoneNumber')
        let phoneId = updateFormContainer.querySelector('.uPhoneId')

        let serviceSelection = updateFormContainer.querySelector('.updateFormSelection')
        let serviceSelected = document.querySelector(`.updateFormSelection option[value="${workerStatusDict[id].serviceCategoryId}"]`);
        let serviceId = updateFormContainer.querySelector('.uServiceId')

        let dayOff = updateFormContainer.querySelector('.uDaysOff')
        let dob = updateFormContainer.querySelector('.uDob')

        let workCount = updateFormContainer.querySelector('.uWorkCount')
        let workerStatusTxt = updateFormContainer.querySelector('.uWorkerStatusTxt')

        let workerStatus = document.querySelector('#w-status')

        uid.value = workerStatusDict[id].accountId
        username.value = workerStatusDict[id].accountName
        email.value = workerStatusDict[id].email
        firstName.value = workerStatusDict[id].firstName
        lastName.value = workerStatusDict[id].lastName
        dob.value = workerStatusDict[id].dob
        phone.value = workerStatusDict[id].phones.length > 0 ? workerStatusDict[id].phones[0].number : ''
        phoneId.value = workerStatusDict[id].phones.length > 0 ? workerStatusDict[id].phones[0].phoneId : ''
        phone.placeholder = workerStatusDict[id].phones.length > 0 ? '' : 'No phone number available'
        if (serviceSelected !== null) {
            serviceSelected.selected = true;
        }
        serviceId.value = workerStatusDict[id].serviceCategoryId
        serviceSelection.onchange = () => {
            serviceId.value = serviceSelection.value
        }
        dayOff.value = workerStatusDict[id].allowedDayOff
        workCount.value = workerStatusDict[id].workCount
        workerStatusTxt.value = workerStatusDict[id].status > 0 ? 'off' : 'on'
        workerStatus.value = workerStatusDict[id].status

        console.log(workerStatusDict[id].status)
        console.log(workerStatus.value)

        updateFormContainer.classList.toggle('hidden')
    }

    function getAdminWorkerPage() {
        updateFormInput.forEach(input => input.value = '')
        errorMessage.forEach(msg => msg.innerHTML = '')
        updateFormContainer.classList.toggle('hidden')
    }
</script>

</html>