<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
          crossorigin="anonymous"></script>
  <title>Title</title>
  <style>
    .hihi {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 20px;
      z-index: 1000;
      display: none;
      border: black;
    }
  </style>
</head>

<body>
<header th:replace="~{./fragments/adminHeader.html}"></header>


<div class="container">
  <button type="button" class="btn btn-primary" id="showCreateCategory">Create Category</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Category Name
      <th>Action</th>
    </tr>
    </thead>
    <tbody id="tbody-categories">

    </tbody>
  </table>
</div>
<script>
  fetch("/api/categories")
          .then(res => res.json())
          .then(data => {
            let output = '';
            data.forEach(item => {
              const categoryId = item['serviceCategoryId'];
              const categoryName = item['serviceCategoryName'];
              output +=
                      `
                  <tr>
                    <td>${categoryId}</td>
                    <td>${categoryName}</td>
                    <td><a class="btn btn-primary" onclick="update('${categoryId}', '${categoryName}')">Update</a></td>
                  </tr>
               `
            })
            document.getElementById("tbody-categories").innerHTML = output;
          })
</script>

<!--FORM CREATE CATEGORY-->
<!--FORM CREATE CATEGORY-->
<!--FORM CREATE CATEGORY-->

<div
        class="position-fixed top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center d-none"
        id="createCategoryFormContainer" style="z-index: 99; background-color: rgba(0, 0, 0, 0.5);">
  <div class="w-50 border border-black rounded p-2 bg-white">
    <h3 class="text-center">Create Service</h3>
    <form id="createCategoryForm" style="border-color: black">
      <div class="form-group">
        <label for="categoryName" class="mb-2">Category Name:</label>
        <input type="text" class="form-control" id="categoryName" required>
      </div>
      <div class="d-flex justify-content-cente align-items-center" style="margin-top: 15px">
        <button type="button" class="btn btn-danger w-50" id="cancelCreateService">Cancel</button>
        <button type="submit" class="btn btn-primary ms-2 w-50">Create</button>
      </div>
    </form>
  </div>
</div>
<!--FORM Update CATEGORY-->
<!--FORM Update CATEGORY-->
<!--FORM Update CATEGORY-->

<div
        class="position-fixed top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center d-none"
        id="updateCategoryFormContainer" style="z-index: 99; background-color: rgba(0, 0, 0, 0.5);">
  <div class="w-50 border border-black rounded p-2 bg-white">
    <h3 class="text-center">Update Service</h3>
    <form id="updateCategoryForm" style="border-color: black">
      <div class="form-group">
        <label for="categoryNameUpdate" class="mb-2">Category Name:</label>
        <input type="text" class="form-control" id="categoryNameUpdate" required>
      </div>
      <div class="d-flex justify-content-cente align-items-center" style="margin-top: 15px">
        <button type="button" class="btn btn-danger w-50" id="cancelUpdateCategory">Cancel</button>
        <button type="submit" class="btn btn-primary ms-2 w-50">Update</button>
      </div>
    </form>
  </div>
</div>

<script>
  var categoryNameUpdate = '';
  var categoryID = '';
  function update(categoryId, categoryName) {
    categoryID = categoryId;
    document.getElementById("updateCategoryFormContainer").classList.toggle('d-none')
    document.getElementById("categoryNameUpdate").value = categoryName;

    document.getElementById("categoryNameUpdate").addEventListener("input", function () {
      categoryNameUpdate = this.value;
    })
    document.getElementById("updateCategoryFormContainer").addEventListener("submit", function (e) {
      e.preventDefault();

      var formData = new FormData();
      formData.append("categoryName", categoryNameUpdate)
      fetch("/api/update-category/" + categoryID, {
        method: 'POST',
        body: formData
      })
              .then(res => {
                if (res.status === 201) {
                  window.location.reload();
                }
                else {

                }
              })
              .catch(err => {
                console.log(err);
              })
    })

  }
  document.getElementById("cancelUpdateCategory").addEventListener("click", function () {
    document.getElementById("updateCategoryFormContainer").classList.toggle('d-none')
    categoryNameUpdate = '';
    categoryID = '';
  })
</script>


<script>
  document.getElementById("showCreateCategory").addEventListener("click", function () {
    document.getElementById("createCategoryFormContainer").classList.toggle('d-none')
  })
</script>
<script>
  document.getElementById("createCategoryForm").addEventListener("submit", function (evt) {
    evt.preventDefault();
    const categoryName = document.getElementById('categoryName').value;
    var formData = new FormData();
    formData.append("categoryName", categoryName);
    fetch("api/create-service-category", {
      method: 'POST',
      body: formData
    })
            .then(res => {
              if (res.status === 201) {
                window.location.reload();
              }
              else {
                alert("Not Successfully");
              }
            })
            .catch(err => {
              alert(err);
            })
  })

  document.getElementById("cancelCreateService").addEventListener("click", function () {
    document.getElementById("createCategoryFormContainer").classList.toggle('d-none')
    document.querySelector('#categoryName').value = ""
  })

</script>
</body>

</html>