<div class="updateFormContainer hidden container fixed top-0 start-0 w-100 h-100 flex flex-col justify-center items-center form z-99"
    id="w-update-form-container" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="w-[50%] rounded-lg bg-white">
        <form id="w-update-form" class="px-4">
            <div class="font-semibold text-[20px] text-center my-3">Update Worker Information</div>
            <input class="uId" name="txtID" id="w-update-form-id" type="hidden" value="">

            <label class="capitalize"> Username</label>
            <span id="error-username-updateWorker" class="ml-1 font-semibold text-sm error-message italic text-red-500">
            </span>
            <input type="text" id="w-update-form-username"
                class="uName updateFormInput bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2"
                aria-describedby="emailHelp" placeholder="" name="txtUsername" value="">

            <label class="capitalize"> email</label><span id="error-email-updateWorker"
                class="ml-1 font-semibold text-sm error-message italic text-red-500"></span>
            <input type="text" id="w-update-form-email"
                class="uEmail updateFormInput bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2"
                aria-describedby="emailHelp" placeholder="" name="txtEmail">

            <label class="capitalize"> Firstname</label><span id="error-firstname-updateWorker"
                class="ml-1 font-semibold text-sm error-message italic text-red-500"></span>
            <input type="text" id="w-update-form-firstname"
                class="uFname updateFormInput bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2" placeholder=""
                name="txtFirstname" value="">

            <label class="capitalize"> Lastname</label><span id="error-lastname-updateWorker"
                class="ml-1 font-semibold text-sm error-message italic text-red-500"></span>
            <input type="text" id="w-update-form-lastname"
                class="uLname updateFormInput bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2" placeholder=""
                name="txtLastname" value="">

            <label class="capitalize"> Dob</label><span id="error-dob-updateWorker"
                class="ml-1 font-semibold text-sm error-message italic text-red-500"></span>
            <input type="date" id="w-update-form-dob"
                class="uDob updateFormInput bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2" placeholder=""
                name="txtDate" value="">

            <label class="capitalize"> PhoneNumber</label><span id="error-phonenumber-updateWorker"
                class="ml-1 font-semibold text-sm error-message italic text-red-500"></span>
            <input type="text" name="txtPhonenumber"
                class="uPhoneNumber updateFormInput bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2"
                aria-label="Text input with dropdown button" id="w-update-form-phonenumber" value="">
            <input class="uPhoneId updateFormInput" type="hidden" name="txtPhoneID" value="" id="w-update-form-phoneid">

            <label class="capitalize">Service</label><br>
            <select onchange="" class="updateFormSelection bg-slate-200 rounded-lg w-full px-2 py-1 mb-2">
                <option th:each="c : ${category}" th:value="${category != null} ? ${c.serviceCategoryId}"
                    th:text="${category != null} ? ${c.serviceCategoryName}">
                </option>
            </select>
            <input class="uServiceId" type="hidden" name="txtServiceId" id="w-serviceid" value="">

            <div class="mb-2 flex justify-around items-center">
                <div class="w-[50%]">
                    <div class="flex flex-col">
                        <div class="flex"><label for="" class=" capitalize">Days off</label></div>
                        <div class="flex">
                            <button type="button"
                                class="rounded-tl-lg rounded-bl-lg bg-red-300 px-3 py-2 hover:bg-red-400"
                                id="w-dayoff-minus" onclick="plusAndMinus('w-dayoff','-')">-</button>

                            <input type="text" name="txtDayoff" id="w-dayoff" value="12"
                                class="uDaysOff updateFormInput text-center w-[50%] bg-slate-200" readonly>

                            <button type="button"
                                class="rounded-tr-lg rounded-br-lg bg-blue-300 px-3 py-2 hover:bg-blue-400"
                                id="w-dayoff-plus" onclick="plusAndMinus('w-dayoff','+')">+</button>
                        </div>
                    </div>
                </div>
                <div class="w-[50%]">
                    <div class="flex flex-col">
                        <div class="flex "><label for="" class=" capitalize">Work Count</label>
                        </div>
                        <div class="flex ">
                            <button type="button"
                                class="rounded-tl-lg rounded-bl-lg bg-red-300 px-3 py-2 hover:bg-red-400"
                                id="w-workcount-minus" onclick="plusAndMinus('w-workcount','-')">-</button>

                            <input type="text" name="txtWorkcount" id="w-workcount" value="12"
                                class="uWorkCount updateFormInput text-center w-[50%] bg-slate-200" readonly>

                            <button type="button"
                                class="rounded-tr-lg rounded-br-lg bg-blue-300 px-3 py-2 hover:bg-blue-400"
                                id="w-workcount-plus" onclick="plusAndMinus('w-workcount','+')">+</button>
                        </div>
                    </div>
                </div>
                <div class="w-[50%]">
                    <div class="flex flex-col">
                        <div class="flex"><label for="" class=" capitalize">worker status</label>
                        </div>
                        <div class="flex">
                            <button type="button"
                                class="rounded-tl-lg rounded-bl-lg bg-red-300 px-3 py-2 hover:bg-red-400"
                                id="w-status-off" onclick="workerStatus(this.id)">Off</button>

                            <input type="text" id="w-status-text" value="12"
                                class="uWorkerStatusTxt updateFormInput text-center w-[50%] bg-slate-200 capitalize"
                                readonly>
                            <input class="uWorkerStatus updateFormInput" type="hidden" name="txtStatus" id="w-status"
                                value="" readonly>

                            <button type="button"
                                class="rounded-tr-lg rounded-br-lg bg-blue-300 px-3 py-2 hover:bg-blue-400"
                                id="w-status-free" onclick="workerStatus(this.id)">On</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-center items-center">
                <button type="button"
                    class="w-[50%] py-2 rounded-lg bg-red-300 border-2 border-red-400 capitalize hover:bg-transparent"
                    onclick="getAdminWorkerPage()">close</button>
                <input
                    class="w-[50%] updateWorkerBtn ml-2 py-2 rounded-lg bg-blue-300 border-2 border-blue-400 capitalize hover:bg-transparent"
                    type="submit" value="Update">
            </div>

        </form>
    </div>
</div>