<div class="updateOrderContainer hidden container fixed top-0 start-0 w-100 h-100 flex flex-col justify-center items-center form z-99"
    style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="w-[50%] rounded-lg bg-white">
        <form class="px-4" id="update-form">
            <div class="text-center font-semibold text-[20px] my-3">
                Information of order: <span class="orderId"></span>
            </div>
            <div class="orderDetail relative border-2 border-blue-300 rounded-lg py-2 mb-3 px-3" id="">
                <label class="capitalize">Username</label>
                <input type="text" id=""
                    class="prohibit-input uName updateFormInput bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2"
                    aria-describedby="emailHelp" placeholder="" name="txtUsername" value="" readonly>

                <label class="capitalize">Full Name</label>
                <input type="text" id=""
                    class="prohibit-input uFname updateFormInput bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2"
                    placeholder="" name="txtFirstname" value="" readonly>

                <label class="capitalize">email</label>
                <input type="text" id=""
                    class="prohibit-input uEmail updateFormInput bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2"
                    aria-describedby="emailHelp" placeholder="" name="txtEmail" readonly>

                <label for="">PhoneNumber<span id="error-phonenumber-updateWorker"
                        class="error-message italic text-red-500 ml-1 hidden text-[13px]"></span></label><br>
                <div class="mb-2 w-[100%]">
                    <span class="flex">
                        <input type="text" name="txtPhonenumber" value=""
                            class="prohibit-input uPhoneNumber phoneInput updateFormInput profile-form-input w-[100%] rounded-l-lg bg-slate-200 px-2 py-1"
                            id="update-form-phonenumber" readonly>
                        <input type="hidden" name="txtPhoneID" value="" id="update-form-phoneid" class="uPhoneId">
                        <i
                            class="phoneDropDownButton fa fa-angle-down flex items-center border-2 rounded-r-lg bg-slate-200 px-2 py-1 cursor-pointer"></i>
                    </span>

                    <div id="phoneDropdownContainer"
                        class="z-10 divide-y hidden divide-gray-100 rounded-lg shadow w-inherit relative">
                        <ul class="phoneSpanContainer absolute w-inherit  border-2 border-black bg-slate-200 overflow-y-scroll"
                            aria-labelledby="dropdownDividerButton">
                        </ul>
                    </div>
                </div>

                <div class="w-full flex">
                    <div class="w-[50%] flex flex-col">
                        <label class="capitalize">Order Create Time</label>
                        <input type="text" id="CreateTime"
                            class="prohibit-input uOrderCreateTime updateFormInput bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2"
                            aria-describedby="emailHelp" placeholder="" name="" value="" readonly>
                    </div>

                    <div class="w-[50%] flex flex-col mx-1">
                        <label class="capitalize">Service Name</label>
                        <input type="text" id="ServiceName"
                            class="prohibit-input uServiceName updateFormInput bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2"
                            aria-describedby="emailHelp" placeholder="" name="" value="" readonly>
                    </div>

                    <div class="w-[50%] flex flex-col">
                        <label class="capitalize">Service Price</label>
                        <input type="text" id="ServicePrice"
                            class="prohibit-input uServicePrice updateFormInput bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2"
                            aria-describedby="emailHelp" placeholder="" name="" value="" readonly>
                    </div>
                </div>

                <div class="w-full flex">
                    <div class="w-[50%] flex flex-col">
                        <label class="capitalize">Work Day</label>
                        <input type="text" id="WorkDay"
                            class="prohibit-input uWorkDay updateFormInput bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2"
                            aria-describedby="emailHelp" placeholder="" name="" value="" readonly>
                    </div>

                    <div class="w-[50%] flex flex-col mx-1">
                        <label class="capitalize">Start Time</label>
                        <input type="text" id="StartTime"
                            class="prohibit-input uStartTime updateFormInput bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2"
                            aria-describedby="emailHelp" placeholder="" name="" value="" readonly>
                    </div>

                    <div class="w-[50%] flex flex-col">
                        <label class="capitalize">End Time</label>
                        <input type="text" id="EndTime"
                            class="prohibit-input uEndTime updateFormInput bg-slate-200 rounded-lg w-[100%] py-1 px-2 mb-2"
                            aria-describedby="emailHelp" placeholder="" name="" value="" readonly>
                    </div>
                </div>
            </div>

            <div class="box relative border-2 border-blue-300 rounded-lg py-3 mb-2 px-3 flex flex-col justify-center items-center"
                id="WorkerLayout">
                <div class="flex items-center justify-between bg-black w-full">
                    <div class="flex-1 text-center font-semibold text-white">Worker Id</div>
                    <div class="flex-1 text-center font-semibold text-white">Worker Name</div>
                    <div class="flex-1 text-center font-semibold text-white contactHeading">Contact</div>
                </div>
                <div class="w-full workerInvoledTable">

                </div>
            </div>

            <div class="mb-2 overflow-hidden flex justify-between">
                <div>Image Confirm: </div>
                <div
                    class="clickAbleImageName w-[81%] font-semibold hover:text-blue-600 hover:underline cursor-pointer">
                    image
                    name
                </div>
            </div>

            <div
                class="hidden mb-2 viewTransactionDetail font-semibold hover:text-blue-600 hover:underline cursor-pointer">
                view transaction detail
            </div>

            <div class="flex justify-between items-center">
                <button
                    class="w-full py-2 border-2 border-red-400 bg-red-400 rounded-lg hover:bg-transparent mb-3 font-semibold disabled:cursor-default disabled:bg-blue-50"
                    type="button" onclick="closeUpdateOrder()">Close</button>

                <button
                    class="cancelOrderBtn hidden w-full ml-2 py-2 border-2 border-blue-400 bg-blue-400 rounded-lg hover:bg-transparent mb-3 font-semibold disabled:cursor-default disabled:bg-blue-50"
                    type="button" onclick="">Cancel Order</button>
            </div>
        </form>
    </div>
</div>