<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/homepage.css">
    <title>Admin Page</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
</head>
<body onload="getSessionData()">
<header class="header">
    <nav class="header_nav">
        <div class="header_logo">logo goes here</div>
        <a href="/login" class="login_btn">Login Now!</a>

        <div class="header_container hide">
            <div class="header_category">
                <button class="header_categoryBtn">Category</button>
                <div class="header_option">
                    <a href="#" class="header_categoryItem">item1</a>
                    <a href="#" class="header_categoryItem">item2</a>
                </div>
            </div>
            <div class="header_profile">
                <button th:text="${username}" class="header_profileBtn"></button>
                <div class="header_option">
                    <a href="#" class="userprofile_btn">Profile</a>
                    <a href="#" onclick="logOut()" class="logout_btn">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../static/js/authentication.js"></script>
</body>
</html>