<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</head>
<body>
<header th:replace="~{./fragments/adminHeader.html}"></header>

<div class="container d-flex justify-content-end p-0 mt-3">
<!--    <div class="form-group  has-feedback col-md-4  ">-->
<!--        &lt;!&ndash; <label class="sr-only" for="search">Search</label> &ndash;&gt;-->
<!--        <input type="text" class="form-control" name="q" id="search" placeholder="Search">-->
<!--        <span class="glyphicons glyphicons-xl glyphicons-group form-control-feedback"></span>-->
<!--    </div>-->
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><span class="heading">First Name</span></th>
                <th><span class="heading">Last Name</span></th>
                <th><span class="heading">Service Name</span></th>
                <th><span class="heading">Price</span></th>
                <th><span class="heading">Order Time</span></th>
                <th><span class="heading">Payment method</span></th>
                <th><span class="heading">Status</span></th>
                <th><span class="heading">Action</span></th>
            </tr>
        </thead>
        <tbody id="tbody-orders">

        </tbody>
    </table>
</div>
<script src="../static/js/AdminPublicFunction.js"></script>
  <script>
      applyHeaderToSearchCategory()
    fetch('/api/order/all')
            .then(response => response.json())
            .then(data => {
              let output = '';
              data.forEach(item => {
                const order = item['order'];
                const account = item['account'];
                const service = item['service'];
                const payment = item['payment'];
                const transaction = item['transaction'];
                const txn = transaction['vnpTxnRef']
                const orderId = order['orderId']
                const firstName = account['firstName'];
                const lastName = account['lastName'];
                const serviceName = service['serviceName'];
                const price = order['price'];
                const orderTime = order['createTime'];
                const paymentName = payment['paymentName'];
                const status = order['status'];
                output += `
                        <tr class='item-to-search'>
                          <td class="firstname" >${firstName}</td>
                          <td class="lastname">${lastName}</td>
                          <td class="servicename">${serviceName}</td>
                          <td class="price">${price}</td>
                          <td class="ordertime">${orderTime}</td>
                          <td class="paymentmethod">${paymentName}</td>
                          <td class="status">${status}</td>
                          <td>
                             `
                                if (paymentName == "VNPAY") {
                                    output +=
                                    `
                                        <a href="/admin_OrderTransaction/${txn}">View Transaction</a>
                                    `
                                }
                                else {
                                    output +=
                                    `
                                        <a href="#"></a>
                                    `
                                }
                                output +=
                            `
                          </td>
                        </tr>
                      `;
              });

              document.getElementById('tbody-orders').innerHTML = output;
            })
            .catch(error => {
              console.error('Error:', error);
            });
  </script>

</body>
</html>