<!DOCTYPE>
<html lang="en" xmlns:th="http://thymeLeaf.org" class="w-[100%] h-full">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
          crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/097aba0852.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/tailwind/font.css">
  <link rel="stylesheet" href="../static/tailwind/index.css">
  <!-- <script src="../static/js/AdminPublicFunction.js"></script> -->
</head>

<body>
<header th:replace="~{./fragments/adminHeader.html}"></header>
<div class="container px-3 mt-3">

  <table class="tableLeaveReport table-auto worker-table block" data-sort-order="desc" id="leave-list">
    <thead>
    <tr class="bg-black">
      <th id="heading-id-w" class="table-heading py-3 asc text-center cursor-pointer select-none">
        <span class="heading capitalize text-white">First Name</span>
      </th>

      <th id="heading-email-w" class="table-heading py-3 asc text-center">
        <span class="heading capitalize text-white">Last Name</span>
      </th>

      <th id="heading-firstname-w" class="table-heading py-3 asc text-center cursor-pointer select-none">
        <span class="heading capitalize text-white">Time Cancel</span>
      </th>
      <th id="heading-dob-w" class="table-heading py-3 asc text-center">
        <span class="heading capitalize text-white">Reason</span>
      </th>

      <th id="heading-status-w" class="table-heading py-3 asc text-center">
        <span class="heading capitalize text-white">Link image</span>
      </th>

      <th class="table-heading py-3 text-center">
        <span class="capitalize text-white">Action</span>
      </th>
    </tr>
    </thead>
    <tbody id="tbody-see-all-leave-report">

    </tbody>
  </table>
</div>

<div th:replace="~{./adminUpdateWorker.html}"></div>

<script>
  const tableHeading = document.querySelectorAll('.table-heading')

  const workerTable = document.querySelector('.tableLeaveReport')

  const workerTableLength = workerTable.getBoundingClientRect().width
  const widthForEachColumn = parseInt(workerTableLength / tableHeading.length + 10)
  let workerStatusDict = null
  let updateBtn = ""

  console.log(workerTableLength)


  //error_service = document.getElementById("error-service")
  let i = 0

  tableHeading.forEach(h => {
    if (i == tableHeading.length - 1) {
      h.style.width = `${widthForEachColumn + 100}px`

    }
    else {
      h.style.width = `${widthForEachColumn}px`

    }
    i++
  })



  fetch('/api/cancel-request/getAllPendingRequest')
          .then(response => response.json())
          .then(data => {
            let output = '';
            data.forEach(item => {
              const request = item['leaveReport'];
              const account = item['account'];
              const firstName = account['firstName'];
              const lastName = account['lastName'];
              const timeCancel = request['timeCancel'];
              const reason = request['reason'];
              const link = request['fileURL'];
              output += `
                                <tr class="even:bg-[#c4c4c4] odd:bg-[#fffff4]">
                                  <td class="py-3 text-center">${firstName}</td>
                                  <td class="py-3 text-center">${lastName}</td>
                                  <td class="py-3 text-center">${timeCancel}</td>
                                  <td class="py-3 text-center">${reason}</td>

                                    <td class="py-3 text-center" th:if="${link != null}"><a href="${link}">Link</a></td>
                                    <td class="py-3 text-center">
                                      <button class="btn btn-success" onclick="approveLeave('${request['cancelRequestId']}')">Accept</button>
                                      <button class="btn btn-danger" onclick="rejectLeave('${request['cancelRequestId']}')">Reject</button>
                                    </td>
                                </tr>
                              `;
            });

            document.getElementById('tbody-see-all-leave-report').innerHTML = output;
          })
          .catch(error => {
            console.error('Error:', error);
          });



  function approveLeave(CancelReportId) {
    performAction('/api/cancel-request/admin-update', CancelReportId, 1); // Assuming 1 represents the 'approve' status
  }

  function rejectLeave(CancelReportId) {
    performAction('/api/cancel-request/admin-update', CancelReportId, 2); // Assuming 0 represents the 'reject' status
  }

  function performAction(url, cancelId, status) {
    // Perform AJAX request to your controller
    var textStatus = '';
      if (status == 1) {
        textStatus = 'ACCEPT'
      }
      else {
        textStatus = "REJECT"
      }
    fetch(url, {
      method: 'POST', // or 'GET' based on your server-side implementation
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(
        { cancelRequestId: cancelId,
           status: textStatus 
          })
    })
            .then(data => {
              if (data.status === 200) {
                console.log(data.text());
                window.location.reload();
              }
            })
            .catch(error => {
              console.error('Error:', error);
            });
  }
</script>
<script>
  // const eventSource = new EventSource('/sse');

  eventSource.addEventListener('open', function (event) {
    console.log(event);
    console.log('SSE connection established');
  });

  eventSource.addEventListener('error', function (event) {
    if (event.readyState === EventSource.CLOSED) {
      console.log('SSE connection closed');
    } else {
      console.error('Error occurred in SSE connection:', event);
    }
  });

  eventSource.addEventListener('leaveReport', function (event) {
    const leaveReportDetail = JSON.parse(event.data);
    const leaveReport = leaveReportDetail['leaveReport'];
    const account = leaveReportDetail['account'];
    const firstName = account['firstName'];
    const lastName = account['lastName'];
    const startDate = leaveReport['startTime'];
    const endDate = leaveReport['endTime'];
    const reason = leaveReport['reason'];
    const link = leaveReport['fileURL'];
    // const file = leaveReport['file'];
    const newRow = document.createElement('tr');
    newRow.innerHTML += `
                                          <td>${firstName}</td>
                                          <td>${lastName}</td>
                                          <td>${startDate}</td>
                                          <td>${endDate}</td>
                                          <td>${reason}</td>

                                            <td th:if="${link != null}"><a href="${link}">Link</a></td>
                                            <td>
                                              <button class="btn btn-success" onclick="approveLeave('${leaveReport['cancelRequestId']}')">Accept</button>
                                              <button class="btn btn-danger" onclick="rejectLeave('${leaveReport['cancelRequestId']}')">Reject</button>
                                            </td>
                                      `;
    document.getElementById('tbody-see-all-leave-report').appendChild(newRow);
    window.addEventListener('unload', function () {
      eventSource.close();
    });
  });




  // document.getElementById("see-leave-report").addEventListener("click", function () {
  //   localStorage.removeItem('unreadCount');
  //   fetch("/sse", {
  //     method: 'POST'
  //   })
  //           .then(res => {
  //             if (res.status === 200) {
  //             }
  //           })
  // })
</script>
</body>

</html>