<html lang="en" xmlns:th="http://thymeLeaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/097aba0852.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/tailwind/font.css">
    <link rel="stylesheet" href="../static/tailwind/index.css">
</head>

<body>
    <header th:replace="~{./fragments/adminHeader.html}"></header>



    <!-- customer table -->
    <!-- customer table -->
    <!-- customer table -->
    <div class="TABLE-FOR-CUSTOMER container px-3 mt-3 ">
        <div class="container d-flex justify-content-end p-0 mb-3 ">
            <div class="flex justify-center w-[30%]">
                <!-- <label class="sr-only" for="search">Search</label> -->
                <input type="text" class="flex-1 bg-slate-300 rounded-lg px-2" name="q" id="search"
                    placeholder="Search">
                <div class="input-group-append">
                    <button class="py-2 px-3 bg-green-300 rounded-lg dropdown-toggle capitalize" type="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        id="dropdown-title">none</button>
                    <div class="dropdown-menu" id="dropdown-category">

                    </div>
                </div>
                <span class="glyphicons glyphicons-xl glyphicons-group form-control-feedback">
                </span>
            </div>
        </div>
        <table class="table-customer table-auto customer-table" style="display:block;" data-sort-order="desc">
            <thead>
                <tr class="bg-black">
                    <th id="heading-id-c" class="table-heading py-3 asc text-center cursor-pointer select-none"
                        onclick="sortById(0)">
                        <span class="heading capitalize text-white">accountID</span>
                    </th>

                    <th id="heading-email-c" class="table-heading py-3 asc text-center">
                        <span class="heading capitalize text-white">email</span>
                    </th>

                    <th id="heading-firstname-c" class="table-heading py-3 asc text-center cursor-pointer select-none"
                        onclick="sortByFirstname(2)">
                        <span class="heading capitalize text-white">full name</span>
                    </th>

                    <th id="heading-dob-c" class="table-heading py-3 asc text-center" onclick="sortByDob(this)">
                        <span class="heading capitalize text-white">Birthday</span>
                    </th>

                    <th id="heading-status-c" class="table-heading py-3 asc text-center" onclick="sortByStatus(this)">
                        <span class="heading capitalize text-white">status</span>
                    </th>

                    <th id="heading-cancel-c" class="table-heading py-3 asc text-center cursor-pointer select-none"
                        onclick="sortByOrderCancel(6)">
                        <span class="heading capitalize text-white">cancel Order</span>
                    </th>

                    <th class="table-heading py-3 text-center">
                        <span class="capitalize text-white">action</span>
                    </th>
                    <!-- <th scope="col" class="asc" style="width: 20%;">Orders </th> -->
                </tr>
            </thead>
            <tbody id="customer-list">

            </tbody>
        </table>
    </div>

    <div th:replace="~{./adminUpdateCustomer.html}"></div>
    <!-- customer table -->
    <!-- customer table -->
    <!-- customer table -->


</body>
<script src="../static/js/AdminPublicFunction.js"></script>
<script>
    var error_username, error_password, error_email, error_firstname, error_lastname, error_dob, error_phonenumber, error_service;
    error_username = document.getElementById("error-username")
    error_password = document.getElementById("error-password")
    error_email = document.getElementById("error-email")
    error_firstname = document.getElementById("error-firstname")
    error_lastname = document.getElementById("error-lastname")
    error_dob = document.getElementById("error-dob")
    error_phonenumber = document.getElementById("error-phonenumber")

    const toggleSwitch = document.querySelectorAll('.toggleSwitch')

    const tableHeading = document.querySelectorAll('.table-heading')
    const errorMessage = document.querySelectorAll('.error-message')
    const customerTable = document.querySelector('.customer-table')
    const customerTableLength = customerTable.getBoundingClientRect().width

    const updateFormInput = document.querySelectorAll('.updateFormInput')
    const updateFormContainer = document.querySelector('.updateFormContainer')
    const updateCustomerBtn = updateFormContainer.querySelector('.updateCustomerBtn')
    const widthForEachColumn = parseInt(customerTableLength / tableHeading.length)
    let ok = false;

    const phoneDropDownButton = document.querySelector('.phoneDropDownButton')
    const phoneDropdownContainer = document.querySelector('#phoneDropdownContainer')
    let phoneSpan = document.querySelectorAll('.phoneSpan')
    const phoneInput = document.querySelector('.phoneInput')
    const phoneSpanContainer = document.querySelector('.phoneSpanContainer')
    const prohibitInput = document.querySelectorAll('.prohibit-input')
    const prohibitInputRadio = document.querySelectorAll('.prohibit-input-radio')

    let customerDict = {}

    //error_service = document.getElementById("error-service")
    var getDataList;
    var getOrderList;

    let i = 0
    tableHeading.forEach(h => {
        if (i == tableHeading.length - 1) {
            h.style.width = `${widthForEachColumn + 150}px`

        }
        else {
            h.style.width = `${widthForEachColumn}px`

        }
        i++
    })


    toggleSwitch.forEach(toggle => {
        toggle.checked = false
        toggle.addEventListener('change', (e) => {
            const enabledOrblock = toggle.getAttribute('id')
            const dotEnabled = toggle.nextElementSibling.nextElementSibling
            const active = dotEnabled.querySelector('.active')
            const inactive = dotEnabled.querySelector('.inactive')

            if (enabledOrblock === 'toggleEnabled') {
                toggle.previousElementSibling.value = e.target.checked ? 1 : 0
            }
            if (enabledOrblock === 'toggleBlock') {
                toggle.previousElementSibling.value = e.target.checked ? 1 : 0
            }
            dotEnabled.classList.toggle('left-1')
            dotEnabled.classList.toggle('bg-white')
            dotEnabled.classList.toggle('right-1')
            dotEnabled.classList.toggle('bg-blue-300')
            active.classList.toggle('hidden')
            inactive.classList.toggle('hidden')
        })
    })

    phoneDropDownButton.addEventListener('click', (e) => {
        e.preventDefault()
        phoneDropdownContainer.classList.toggle('hidden')
    })

    function getAdminCustomerPage() {
        let dotEnabled = updateFormContainer.querySelectorAll('.dotEnabled')
        let active = updateFormContainer.querySelectorAll('.active')
        let inactive = updateFormContainer.querySelectorAll('.inactive')

        updateFormInput.forEach(input => input.value = '')
        dotEnabled.forEach(dot => {
            dot.classList.add('left-1', 'bg-white')
            dot.classList.remove('right-1', 'bg-blue-300')
        })
        active.forEach(a => {
            a.classList.add('hidden')
        })
        inactive.forEach(i => {
            i.classList.remove('hidden')
        })
        toggleSwitch.forEach(toggle => {
            toggle.checked = false
            toggle.previousElementSibling.value = 0
        })
        while (phoneSpanContainer.firstChild) {
            phoneSpanContainer.removeChild(phoneSpanContainer.firstChild)

        }

        updateFormContainer.classList.toggle('hidden')
    }

    prohibitInput.forEach(inp => {
        inp.addEventListener('keydown', (e) => {
            e.preventDefault()
        })
    })

    prohibitInputRadio.forEach(radio => {
        radio.addEventListener('click', (e) => {
            e.preventDefault()
        })
    })

    function openUpdateCustomerForm(id) {
        toggleSwitch.forEach(toggle => {
            toggle.checked = false
            toggle.previousElementSibling.value = 0
        })
        error_username = document.getElementById("error-username-updateCustomer")
        error_email = document.getElementById("error-email-updateCustomer")
        error_firstname = document.getElementById("error-firstname-updateCustomer")
        error_lastname = document.getElementById("error-lastname-updateCustomer")
        error_phonenumber = document.getElementById("error-phonenumber-updateCustomer")
        error_dob = document.getElementById("error-dob-updateCustomer")
        let uid = updateFormContainer.querySelector('.uId')
        let username = updateFormContainer.querySelector('.uName')

        let email = updateFormContainer.querySelector('.uEmail')
        let firstName = updateFormContainer.querySelector('.uFname')
        let lastName = updateFormContainer.querySelector('.uLname')

        let phone = updateFormContainer.querySelector('.uPhoneNumber')
        let phoneId = updateFormContainer.querySelector('.uPhoneId')

        let dob = updateFormContainer.querySelector('.uDob')

        let room = updateFormContainer.querySelector('.uRoom')
        let block = updateFormContainer.querySelectorAll('.uBlock')

        let enableBtn = updateFormContainer.querySelector('.enableBtn')
        let blockBtn = updateFormContainer.querySelector('.blockBtn')
        let enableValue = updateFormContainer.querySelector('#isEnableValue')
        let blockValue = updateFormContainer.querySelector('#isBlockValue')
        let enableActive = enableBtn.querySelector('.active')
        let blockActive = blockBtn.querySelector('.active')
        let enableInactive = enableBtn.querySelector('.inactive')
        let blockInactive = blockBtn.querySelector('.inactive')

        uid.value = customerDict[id].accountId
        username.value = customerDict[id].accountName
        email.value = customerDict[id].email
        firstName.value = customerDict[id].firstName
        lastName.value = customerDict[id].lastName
        dob.value = customerDict[id].dob
        room.value = customerDict[id].address.buildingRoom
        block.forEach(b => {
            b.checked = b.value == customerDict[id].address.buildingBlock
        })
        if (customerDict[id].isEnable > 0) {
            enableBtn.classList.toggle('right-1')
            enableBtn.classList.toggle('left-1')
            enableBtn.classList.toggle('bg-blue-300')
            enableBtn.classList.toggle('bg-white')
            enableActive.classList.toggle('hidden')
            enableInactive.classList.toggle('hidden')

        }
        enableValue.value = customerDict[id].isEnable
        enableValue.nextElementSibling.checked = enableValue.value > 0 ? 1 : 0

        if (customerDict[id].isBlock === true) {
            blockBtn.classList.toggle('right-1')
            blockBtn.classList.toggle('left-1')
            blockBtn.classList.toggle('bg-blue-300')
            blockBtn.classList.toggle('bg-white')
            blockActive.classList.toggle('hidden')
            blockInactive.classList.toggle('hidden')
        }
        blockValue.value = customerDict[id].isBlock === false ? 0 : 1
        blockValue.nextElementSibling.checked = blockValue.value > 0 ? 1 : 0

        if (customerDict[id].phones.length > 0) {
            for (let i = 0; i < customerDict[id].phones.length; i++) {
                let newPhoneSpan = addNewPhoneSpan(customerDict[id].phones[i].number, customerDict[id].phones[i].phoneId)
                phoneSpanContainer.appendChild(newPhoneSpan)
                newPhoneSpan.addEventListener('click', () => {
                    phone.value = newPhoneSpan.querySelector('.phoneSpan').innerHTML
                    phoneId.value = newPhoneSpan.querySelector('.phoneSpan').getAttribute('data-id')
                    phoneDropdownContainer.classList.toggle('hidden')
                    console.log(phone.value)
                })
            }
            console.log(phoneSpanContainer)
        }
        phone.value = customerDict[id].phones[0].number
        phoneId.value = customerDict[id].phones[0].phoneId


        updateFormContainer.classList.toggle('hidden')
    }

    function addNewPhoneSpan(phoneNumber, phoneNumberId) {
        const li = document.createElement('li')
        const span = document.createElement('span')


        li.setAttribute('class', 'relative')
        span.setAttribute('class', 'phoneSpan block text-black px-3 py-1 hover:bg-gray-300 cursor-pointer')
        span.setAttribute('data-id', phoneNumberId)
        span.innerHTML = phoneNumber
        li.appendChild(span)

        return li
    }

    applyHeaderToSearchCategory()
    getCustomerList()
    async function getCustomerList() {
        const response = await fetch("http://localhost:8080/UserRestController/getAccountCustomer")
        data = await response.json();
        getDataList = data;
        var ListCancelOrder = await getTotalCancelOrder();
        getOrderList = ListCancelOrder;
        printRow(data, "customer-list");

        customerDict = data.reduce((acc, cur) => {
            acc[cur.accountId] = cur;
            return acc;
        }, {})

        const accountKeyFilter = ["accountId", "accountName", "accountStatus", "dob", "address", "email", "firstName", "lastName", "isBlock", "isEnable", "phones", "username"]
        for (const key in customerDict) {
            if (Object.hasOwnProperty.call(customerDict, key)) {
                for (const customerDictKey in customerDict[key]) {
                    if (Object.hasOwnProperty.call(customerDict[key], customerDictKey)) {
                        if (!accountKeyFilter.includes(customerDictKey)) {
                            delete customerDict[key][customerDictKey];
                        }
                    }
                }
            }
        }
        console.log("customer dict")
        console.log(customerDict)

    }

    function printRow(data, IdOfTableBody) {
        var table_tag = document.getElementById(`${IdOfTableBody}`);
        // console.log(table_tag.innerHTML)
        table_tag.innerHTML = ""
        console.log(data)
        var output = "";
        for (var i in data) {
            roleString = (data[i].role == 1) ? "worker" : "user";
            statusString = (data[i].accountStatus == 1) ? "active" : "off ";
            var date_new; var date_output;
            if (data[i].dob == null) {
                date_output = "not yet imported"
            } else {
                date_new = new Date(data[i].dob);
                date_output = new Intl.DateTimeFormat('en-US').format(date_new);
            }
            // onclick='showFullCustomerInfo(${data[i].accountId})'
            output = `
        <tr id="${data[i].accountId}" class="item-to-search even:bg-[#c4c4c4] odd:bg-[#fffff4]">
        `
            if (data[i].role == 1) {
                output += `<td class="accountid text-center" onclick="showFullWorkerInfo(${data[i].accountId})"><input type="hidden" name="txtID" value="${data[i].accountId}">${data[i].accountId}</td>`;
            } else {
                output += `<td class="accountid text-center" onclick="showFullCustomerInfo(${data[i].accountId})"><input type="hidden" name="txtID" value="${data[i].accountId}">${data[i].accountId}</td>`;
            }
            output += `
            <td class="email py-3 text-center"><input type="hidden" name="txtEmail"value="${data[i].email}">${data[i].email}</td>
            <td class="fullname py-3 text-center"><input type="hidden" name="txtFirstname"value="${data[i].firstName}">${data[i].firstName} ${data[i].lastName}</td>
            <td class="hidden lastname py-3 text-center"><input type="hidden" name="txtLastname"value="${data[i].lastName}">${data[i].lastName}</td>
            <td class="dob py-3 text-center"><input type="hidden" name="txtDob"value="${data[i].dob}">${date_output}</td>
            <td class="status py-3 text-center"><input type="hidden" name="txtStatus"value="${data[i].accountStatus}">${statusString}</td>
            `
            var getCount = getOrderList[`${data[i].accountId}`]
            output += `<td class="cancelorder py-3 text-center">${getCount}</td>
                        <td style="display: none;" ><input type="hidden" name="txtUsername" value="${data[i].accountName}"></td>
            <td style="display: none;"><input type="hidden" name="txtPassword" value="${data[i].password}"></td>`
            output +=
                `
                    <td class="py-3 text-center">
                    <button class="updateBtn text-center bg-green-400 py-2 px-3 rounded-lg w-[45%] capitalize" onclick="openUpdateCustomerForm(${data[i].accountId})">update</button>
                `
            if (data[i].accountStatus == 1) {
                output +=
                    `
                    <button class="text-center bg-slate-400 py-2 px-0 rounded-lg w-[45%] capitalize" onclick='confirmation(${data[i].accountId})'>deactivate</button>
                </td>`
            } else {
                output +=
                    `
                    <button class="text-center bg-yellow-400 px-3 py-2 rounded-lg w-[45%] capitalize" onclick='confirmation(${data[i].accountId})'>activate</button>
                    </td>`;
            }
            output +=
                `
            </tr>`
            table_tag.innerHTML += output;
            //<td><button class="viewOrderBtn" onclick='getUserOrders(${data[i].accountId})'>order</button></td>
            sorttableCategory()
        }
    }

    async function openCreateForm() {
        // document.querySelectorAll(".overlay")[0].style.display = "block";
        var response = await fetch(`http://localhost:8080/UserRestController/getServiceCategory`, {
            method: "GET"
        });
        console.log("yes get service");
        var service_list = await response.json();
        var drop_down_service = document.getElementById("w-create-form-dropdown-service"); console.log(drop_down_service)
        drop_down_service.innerHTML = "";
        var output = "";
        for (var i in await service_list) {
            output =
                `
            <a class="dropdown-item" onclick="creatAccountService('${service_list[i].serviceCategoryName}', ${service_list[i].serviceCategoryId})" >
                ${service_list[i].serviceCategoryName}
            </a>
        `;
            drop_down_service.innerHTML += output;
        }
        document.querySelectorAll(".form")[0].style.display = "block";
        document.getElementById("w-create-form-service").value = service_list[0].serviceCategoryName;
        document.getElementById("w-create-form-serviceid").value = service_list[0].serviceCategoryId;
        //creatAccountService(service_list[0].serviceCategoryName,service_list[0].serviceCategoryId)
    }

    async function deleteByID(id, confirm) {
        console.log("CONFIRMATION")
        console.log(confirm)
        if (confirm) {
            console.log(id)
            const response = await fetch(`/UserRestController/deleteCustomer/${id}`, {
                method: "DELETE",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }
            );
            console.log("yes call api success DELETE")
            console.log(response)
            if (response.status == 500) {
                // alert("delete fail, might be server side");
                return;
            } else {
                data = await response.json();
                console.log(data)
                console.log("role: " + data[0].role)
                if (data[0].role == 1) {
                    printRow(data, "worker-list");
                } else {
                    printRow(data, "customer-list");
                }

            }
        } else {
            return;
        }

    }

    function confirmation(id) {
        console.log("CONFIRMATION")
        const getResult = confirm(" are you sure want to delete or re-active this account?");
        const ok = getResult

        if (ok) {
            console.log(ok)
            deleteByID(id, ok)
        }
        else {
            console.log(ok)
        }
    }
    async function getTotalCancelOrder() {
        var response = await fetch(`http://localhost:8080/UserRestController/getTotalCancelOrder`)
        var status = await response.status
        var toJson = await response.json();
        return toJson;
    }
    function sortByOrderCancel(columnIndex) {
        var table = document.querySelector(".table-worker") || document.querySelector(".table-customer");
        var tbody = table.tBodies[0];
        var rows = Array.from(tbody.rows);
        var sortOrder = table.getAttribute('data-sort-order') || 'asc';
        rows.sort((a, b) => {
            var x = Number(a.cells[columnIndex].textContent);
            var y = Number(b.cells[columnIndex].textContent);
            return sortOrder === 'asc' ? x - y : y - x;
        });
        rows.forEach(row => tbody.appendChild(row));
        sortOrder = sortOrder === 'asc' ? 'desc' : 'asc';
        table.setAttribute('data-sort-order', sortOrder);

    }
    const update_form = document.getElementById("update-form");
    update_form.addEventListener('submit', async function (event) {
        updateCustomerBtn.disabled = true
        console.log(update_form)
        event.preventDefault();
        var form_data = new FormData(update_form);
        let data = Object.fromEntries(form_data);
        // console.log(data);
        var response = await fetch(`http://localhost:8080/UserRestController/UpdateAccountCustomer`,
            {
                method: "Put",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

        var status = await response.status;
        var responseData = await response.json()
        if (status < 200 || status > 300) {
            alert("An error occured while updating this customer, please try again!")

        } else {
            alert("Successfully update customer")
            phoneDropdownContainer.classList.add('hidden')
            getAdminCustomerPage()
            getCustomerList()
            console.log('yes successs')
        }
        updateCustomerBtn.disabled = false

    }
    )



</script>

</html>