<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">

<head>
  <meta charset="UTF-8" />
  <title th:text="${services != null} ? ${services.serviceCategoryName} : ''"></title>
  <script src="https://kit.fontawesome.com/097aba0852.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/tailwind/index.css" />
  <link rel="stylesheet" href="../static/tailwind/font.css" />

  <style>
    .stars-outer {
      display: inline-block;
      position: relative;
      font-family: FontAwesome;
    }

    .stars-outer::after {
      content: "\f006 \f006 \f006 \f006 \f006";
    }

    .stars-inner {
      position: absolute;
      top: 0;
      left: 0;
      white-space: nowrap;
      overflow: hidden;
      width: 0;
    }

    .stars-inner::after {
      content: "\f005 \f005 \f005 \f005 \f005";
      color: #f8ce0b;
    }
  </style>
</head>

<body class="overflow-x-hidden">
  <header th:replace="~{./fragments/header.html}"></header>

  <div class="content-body my-7 mx-48">
    <p class="text-center text-4xl text-blue-bootstrap">
      Our services for cleaning
    </p>
    <br />

    <section th:each="service: ${services.services}">
      <div class="flex mt-6 rounded-lg border-2 border-blue-300" th:if="${service.status == 1}">
        <div class="w-1/3 px-2 py-2">
          <img class="rounded-lg w-full h-full object-cover" th:src="@{${service.urlImage}}" style="object-fit: cover;"
            alt="working" />
        </div>
        <div class="serivceInformation w-full mx-4 space-y-3 py-2 flex flex-col">
          <h1 class="serviceName text-2xl font-semibold" th:text="${service != null} ? ${service.serviceName} : ''">
          </h1>
          <p class="text-1xl text-justify des cursor-pointer" th:text="${service.description}" data-expand="false">
          </p>
          <div th:replace="~{./fragments/rating.html}"></div>
          <div class="price mt-2 text-2xl" th:text="${service != null} ? '₫' + ${service.price} : ''"></div>
          <div class="flex flex-1 items-end justify-end">
            <button class="bg-yellow-info text-lg font-medium py-2 px-4 rounded-lg ml-2">
              <a th:href="@{/service/{id}(id=${service.serviceId})}">Detail</a>
            </button>
            <input type="hidden" th:value="${service.serviceId}" />
            <button class="order-btn bg-blue-bootstrap text-white text-lg font-medium py-2 px-4 rounded-lg ml-2">
              Order
            </button>
          </div>
        </div>

      </div>
    </section>
  </div>
  <section th:replace="~{./fragments/order-form.html}"></section>
  <footer th:replace="~{./fragments/footer.html}"></footer>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="../static/js/rating.js"></script>
  <script>
    const price = document.querySelectorAll('.price')
    const des = document.querySelectorAll('.des')
    // const serviceInformation = document.querySelectorAll()
    price.forEach(p => {
      let number = parseInt(p.innerHTML.split('₫')[1]);
      let [integerPart, decimalPart] = number.toFixed(0).toString().split('.');
      let formattedIntegerPart = integerPart.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
      let formattedNumber = decimalPart ? `${formattedIntegerPart}.${decimalPart}` : formattedIntegerPart;
      p.innerHTML = `₫${formattedNumber}`
    })
    des.forEach(d => {
      let shortText = d.textContent.trim().split(' ').slice(0, 30).join(' ') + '...' + `<a class="text-blue-bootstrap text-sm hover underline">show more</a>`
      let longText = d.textContent.trim() + `<a class="text-blue-bootstrap text-sm hover underline">show less</a>`
      d.innerHTML = shortText
      d.addEventListener('click', () => {
        d.innerHTML = d.getAttribute("data-expand") == "false" ? longText : shortText
        d.setAttribute("data-expand", d.getAttribute("data-expand") == "false" ? "true" : "false")
      })
    })

    function more(des) {
      console.log("1")

    }
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Execute the fetchData function after the segment is loaded
      loadOrderForm();
    });
  </script>
</body>

</html>