<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">

<head>
  <meta charset="UTF-8">
  <title th:text="${services != null} ? ${services.serviceCategoryName} : ''"></title>
  <script src="https://kit.fontawesome.com/097aba0852.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/tailwind/index.css">
  <link rel="stylesheet" href="../static/tailwind/font.css">

  <style>
    .stars-outer {
      display: inline-block;
      position: relative;
      font-family: FontAwesome;
    }

    .stars-outer::after {
      content: "\f006 \f006 \f006 \f006 \f006";
    }

    .stars-inner {
      position: absolute;
      top: 0;
      left: 0;
      white-space: nowrap;
      overflow: hidden;
      width: 0;
    }

    .stars-inner::after {
      content: "\f005 \f005 \f005 \f005 \f005";
      color: #f8ce0b;
    }
  </style>
</head>

<body class="overflow-x-hidden">
  <header th:replace="~{./fragments/header.html}"></header>

  <div class="content-body my-7 mx-48">

    <p class="text-center text-4xl text-blue-bootstrap">Our services for cleaning</p>
    <br />

    <section class="flex mt-6 rounded-lg border-2 border-blue-300" th:each="service: ${services.services}">
      <div class="w-1/3 px-2 py-2">
        <img class="rounded-lg w-full h-full object-cover" src="../static/assets/images/service-4.jpg" alt="working">
      </div>
      <div class="w-full mx-4 space-y-3 py-2 flex flex-col">
        <h1 class="text-2xl font-semibold" th:text="${service != null} ? ${service.serviceName} : ''">40m2 House</h1>
        <p class="text-1xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, magnam error! Commodi placeat sunt
          distinctio,
          voluptatum odit vero assumenda at.
        </p>
        <div class="stars-container flex flex-col cursor-pointer">
          <div class="w-full flex">
            <div class="stars-outer">
              <div class="stars-inner"></div>
            </div>
            <div class="display-avg-rating flex items-center ml-1 text-[13px]"><i class="fa fa-angle-down"></i></div>
          </div>

          <div class="avgRatingContainer hidden z-10 divide-y shadow w-[400px]">
            <div class="absolute w-inherit px-3 py-2 rounded-lg bg-slate-200 space-y-3"
              aria-labelledby="dropdownDividerButton">

              <div class="flex items-center">
                <div class="stars-outer mr-2">
                  <div class="stars-inner"></div>
                </div>
                <span class="avg-stars"></span>
              </div>

              <div class="flex justify-center items-center">
                <span class="mr-2 whitespace-nowrap">5 star</span>
                <div class="w-full flex bg-gray-400 rounded-full h-4">
                  <div class="avg-star-percentage bg-blue-600 h-inherit rounded-full" style="width: 45%"></div>
                </div>
                <span class="percentage-text ml-2 whitespace-nowrap">40%</span>

              </div>

              <div class="flex justify-center items-center">
                <span class="mr-2 whitespace-nowrap">4 star</span>
                <div class="w-full flex bg-gray-400 rounded-full h-4">
                  <div class="avg-star-percentage bg-blue-600 h-inherit rounded-full" style="width: 45%"></div>
                </div>
                <span class="percentage-text ml-2 whitespace-nowrap">40%</span>

              </div>

              <div class="flex justify-center items-center">
                <span class="mr-2 whitespace-nowrap">3 star</span>
                <div class="w-full flex bg-gray-400 rounded-full h-4">
                  <div class="avg-star-percentage bg-blue-600 h-inherit rounded-full" style="width: 45%"></div>
                </div>
                <span class="percentage-text ml-2 whitespace-nowrap">40%</span>

              </div>

              <div class="flex justify-center items-center">
                <span class="mr-2 whitespace-nowrap">2 star</span>
                <div class="w-full flex bg-gray-400 rounded-full h-4">
                  <div class="avg-star-percentage bg-blue-600 h-inherit rounded-full" style="width: 45%"></div>
                </div>
                <span class="percentage-text ml-2 whitespace-nowrap">40%</span>

              </div>

              <div class="flex justify-center items-center">
                <span class="mr-2 whitespace-nowrap">1 star</span>
                <div class="w-full flex bg-gray-400 rounded-full h-4">
                  <div class="avg-star-percentage bg-blue-600 h-inherit rounded-full" style="width: 45%"></div>
                </div>
                <span class="percentage-text ml-2 whitespace-nowrap">40%</span>

              </div>

            </div>
          </div>

        </div>
        <div class="mt-2 text-2xl">₫100.000</div>
        <div class="flex flex-1 items-end justify-end">
          <button class="bg-blue-300 text-lg font-medium py-2 px-4 rounded-lg ml-2 hover:bg-blue-400"><a
              th:href="@{/service/{id}(id=${service.serviceId})}">Detail</a></button>
          <button class="bg-yellow-300 text-lg font-medium py-2 px-4 rounded-lg ml-2 hover:bg-yellow-400">Order</button>
        </div>
      </div>
    </section>



  </div>

  <footer th:replace="~{./fragments/footer.html}"></footer>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    // var logo = document.querySelector('.logo');
    // var logoStyle = window.getComputedStyle(logo, null).getPropertyValue('font-size');
    // var logoFontSize = parseFloat(logoStyle);
    const allStar = document.querySelectorAll('.stars-inner')
    const avgStars = document.querySelectorAll('.avg-stars')
    const avgStarsPercentage = document.querySelectorAll('.avg-star-percentage')
    const avgRatingContainer = document.querySelectorAll('.avgRatingContainer')
    let avgRatingForEachService = []
    let avgForEachRating = {}

    const dropDownMenuBtn = document.querySelector('#dropdownDividerButton')
    const dropDownMenu = document.querySelector('#dropdownDivider')
    const starsContainer = document.querySelectorAll('.stars-container')

    const navBar = document.querySelector('.navBar')
    const profileBtn = document.querySelector('.profile-btn')
    const percentageText = document.querySelectorAll('.percentage-text')
    // const barsToggle = document.querySelector('.bars-toggle')
    // const list = document.querySelector('.links')
    // const listElement = list.getElementsByTagName('li')
    let navBarHeight = navBar.getBoundingClientRect().height;
    const starTotal = 5;
    // let listHeight = 0
    // list.style.height = 0

    console.log(allStar.length)

    const getAllAvgRating = async () => {
      let rating = await axios.get(`/api/services/avg-rating/${1}`)

      for (let i = 0; i < rating.data.length; i++) {
        if (i % 2 == 0) {
          for (let j = 0; j < rating.data[i].length; j++) {
            for (let k = 0; k < rating.data[j].length; k++) {
              avgRatingForEachService.push(rating.data[j][k])
            }
          }
        }
        else {
          for (let key in rating.data[i]) {
            avgForEachRating[`${key}`] = rating.data[i][key]

          }
        }
      }

      console.log(avgForEachRating)

      var j = 0;
      for (let i = 0; i < allStar.length; i++) {
        if (i % 2 == 0) {
          let starPercentageRounded = convertToPercentage(avgRatingForEachService[j]);
          allStar[i].style.width = starPercentageRounded
          allStar[i + 1].style.width = starPercentageRounded
          avgStars[j].innerHTML = `${parseFloat(avgRatingForEachService[j]).toFixed(1)} out of 5 stars`
          j++
        }
      }


      return rating.data
    }

    getAllAvgRating()

    // console.log("font-size: " + logoFontSize)


    // console.log(listElement[0].getBoundingClientRect().height)
    // for (let i = 0; i < listElement.length; i++) {
    //     listHeight += listElement[i].getBoundingClientRect().height;
    // };
    profileBtn.style.height = `${navBarHeight}px`

    dropDownMenuBtn.addEventListener('click', () => {
      console.log("clicked")
      dropDownMenu.classList.toggle("hidden")
    })

    for (let i = 0; i < starsContainer.length; i++) {
      starsContainer[i].addEventListener('mouseover', (e) => {
        e.preventDefault()
        avgRatingContainer[i].classList.toggle('hidden')
        var j = 0
        var z = 0
        var percentage = 0
        for (let key in avgForEachRating) {
          for (let k = j; k < avgForEachRating[key].length + j; k++) {
            console.log(convertToPercentage(avgForEachRating[key][z]))
            percentage = parseFloat(avgForEachRating[key][z]).toFixed(2) * 100
            avgStarsPercentage[k].style.width = percentage;
            percentageText[k].innerHTML = `${percentage}%`
            z++;
          }
          j = z
          z = 0
        }
      })
      starsContainer[i].addEventListener('mouseout', () => {
        avgRatingContainer[i].classList.toggle('hidden')
      })
    }

    function convertToPercentage(number) {
      let starPercentage = (parseFloat(number.toFixed(1) / starTotal)) * 100;
      let starPercentageRounded = `${parseFloat(((starPercentage / 10) * 10).toFixed(1))}%`;
      return starPercentageRounded
    }

  </script>
</body>

</html>