<!DOCTYPE html>
<html lang="en" class="w-[100%] h-[100%]">

<head>
    <meta charset="UTF-8">
    <title>Forget Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/097aba0852.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/tailwind/font.css" />
    <link rel="stylesheet" href="../static/tailwind/index.css" />
</head>

<body class="w-[100%] h-[100%]">

    <div class="w-inherit h-inherit flex justify-center items-center">
        <div class="w-[45%] h-[25%] bg-blue-200 flex overflow-hidden relative">
            <div
                class="-z-10 flex flex-col justify-center items-center w-[0%] h-[100%] transition-all duration-300 ease-linear">

                <div class="flex flex-col justify-center items-center my-2">
                    <div class="text-center text-xl font-semibold">Please select a verification method</div>

                    <div class="flex flex-col mt-3">
                        <span><input type="radio" name="btnRadioVerification" value="SMS"><span class="ml-2">Verify via
                                phone
                                number
                                (SMS)</span></span>
                        <span><input type="radio" name="btnRadioVerification" value="EMAIL" checked><span
                                class="ml-2">Verify via
                                email</span></span>
                    </div>
                </div>
                <div class="mt-3 w-[100%] flex justify-end px-5">
                    <button class="ml-2 border-2 px-3 py-2 rounded-lg hover:bg-blue-300">Back</button>
                    <button class="ml-2 border-2 px-3 py-2 rounded-lg hover:bg-blue-300">Next</button>
                </div>

            </div>

            <div
                class="-z-10 flex flex-col justify-center items-center w-[0%] h-[100%] transition-all duration-300 ease-linear">
                <div class="flex flex-col justify-center items-center my-2">
                    <div class="text-center text-xl font-semibold capitalize">Please enter your phone number</div>

                    <div class="flex flex-col mt-3">
                        <span>
                            <input type="text" name="txtPhone" value="" class="px-2 py-1 rounded-lg">
                        </span>
                    </div>
                </div>
                <div class="mt-3 w-[100%] flex justify-end px-5">
                    <button class="ml-2 border-2 px-3 py-2 rounded-lg hover:bg-blue-300">Back</button>
                    <button class="ml-2 border-2 px-3 py-2 rounded-lg hover:bg-blue-300">Next</button>
                </div>
            </div>

            <div
                class="flex flex-col justify-center items-center w-[100%] h-[100%] transition-all duration-300 ease-linear">
                <div class="flex flex-col justify-center items-center my-2">
                    <div class="text-center text-xl font-semibold capitalize">Please enter your email</div>

                    <div class="flex flex-col mt-3">
                        <span>
                            <input type="text" name="txtPhone" value="" class="px-2 py-1 rounded-lg">
                        </span>
                    </div>
                </div>
                <div class="mt-3 w-[100%] flex justify-end px-5">
                    <button class="ml-2 border-2 px-3 py-2 rounded-lg hover:bg-blue-300">Back</button>
                    <button class="ml-2 border-2 px-3 py-2 rounded-lg hover:bg-blue-300">Next</button>
                </div>
            </div>

            <div class="w-[0%] h-[100%] bg-yellow-500 transition-all duration-300 ease-linear"></div>
        </div>
    </div>
</body>
<script>

</script>

</html>