<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org" class="w-[100%] h-[100%]">

<head>
    <meta charset="UTF-8">
    <title>Forget Password</title>
    <script src="https://kit.fontawesome.com/097aba0852.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/tailwind/font.css" />
    <link rel="stylesheet" href="../static/tailwind/index.css" />
    <style>
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
</head>

<body class="w-[100%] h-[100%]">

    <div class="w-inherit h-inherit flex justify-center items-center">
        <div class="resetFieldContainer w-[45%] h-[25%] rounded-lg bg-blue-200 flex overflow-hidden relative">
            <div
                class="resetField flex flex-col justify-center items-center w-[100%] h-[100%] transition-all duration-300 ease-linear">

                <div class="flex flex-col justify-center items-center my-2 whitespace-nowrap">
                    <div class="text-center text-xl font-semibold capitalize">Please
                        select a method
                        below to
                        reset you password</div>

                    <div class="flex flex-col mt-3">
                        <span><input type="radio" name="btnRadioVerification" value="SMS"><span
                                class="ml-2 whitespace-nowrap">Reset
                                password via
                                phone
                                number
                                (SMS)</span></span>
                        <span><input type="radio" name="btnRadioVerification" value="EMAIL" checked><span
                                class="ml-2 whitespace-nowrap">Reset password via
                                email</span></span>
                    </div>
                </div>
                <div class="w-[100%] flex justify-end px-5">
                    <button class="ml-2 border-2 px-3 py-2 rounded-lg hover:bg-blue-300"><a
                            href="/login">Back</a></button>
                    <button
                        class="proceedBtn nextBtn ml-2 border-2 px-3 py-2 rounded-lg hover:bg-blue-300">Next</button>
                </div>

            </div>

            <div
                class="resetField -z-10 flex flex-col justify-center items-center w-[0%] h-[100%] transition-all duration-300 ease-linear">
                <div class="flex flex-col justify-center items-center my-2 w-1/2">
                    <div class="resetMethodName text-center text-xl font-semibold capitalize whitespace-nowrap">
                    </div>

                    <span class="errMsg text-red-400 italic text-[13px] whitespace-nowrap my-2"></span>

                    <div class="flex flex-col justify-center items-center w-full">
                        <span class="w-full">
                            <input type="text" name="someTxt" value=""
                                class="resetMethodInput px-2 py-1 w-inherit rounded-lg text-center">
                        </span>
                    </div>
                </div>
                <div class="mt-3 w-[100%] flex justify-end px-5">
                    <button class="backBtn ml-2 border-2 px-3 py-2 rounded-lg hover:bg-blue-300">Back</button>
                    <button class="nextBtn ml-2 border-2 px-3 py-2 rounded-lg hover:bg-blue-300">Next</button>
                </div>
            </div>

            <div
                class="resetField -z-10 flex flex-col justify-center items-center w-[0%] h-[100%] transition-all duration-300 ease-linear">
                <div class="finalVerify">
                    <div class="hidden otpCountDown enterOtp whitespace-nowrap capitalize">
                        we just send you an sms check your phone <i class="fa fa-mobile" aria-hidden="true"></i>
                        <div class="text-center capitalize"><a href="/login"
                                class="text-blue-500 hover:underline hover:text-blue-600">Return to
                                login</a></div>
                    </div>
                    <div class="hidden sendMail whitespace-nowrap capitalize">
                        we just send you an email check your mail <i class="fas fa-mail-bulk    "></i>
                        <div class="text-center capitalize"><a href="/login"
                                class="text-blue-500 hover:underline hover:text-blue-600">Return to login</a></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>

<script src="../static/js/resetPassword.js">
</script>

</html>