<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

      </head>


<body class="min-vh-100 d-flex align-items-center justify-content-center ">
<div class="container-fluid w-25">
  <h1 class="text-center">Login</h1>
  <!-- action="/login" method="post" -->
  <div class="container d-flex justify-content-center align-items-center" style="visibility: hidden;">
    <label id="error-message" class="text-danger conte">sadfadsf</label>
  </div>
  <form id="login-form" class="mt-3" action="/login" method="post">
    <div id="loginStatusText" class="" style="color: red;"></div>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="">Username</label>
      <input type="text" id="username" name="username" class="form-control" />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="">Password</label>
      <input type="password" id="password" name="password" class="form-control" />
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" name="remember-me" type="checkbox" id="remember-me"  />
          <label class="form-check-label" for="remember-me"> Remember me </label>
        </div>
      </div>

      <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
      </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4 w-100">Log in</button>

    <!-- Register buttons -->
    <div class="text-center">
      <p>Don't have account? <a href="/register">Register Now!</a></p>
    </div>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const form = document.getElementById("login-form");
  const usernameInput = document.getElementById("username");
  const passwordInput = document.getElementById("password");
  const loginSpan = document.getElementById("loginStatusText");
  let loginSpanClassList = ["mt-3", "mb-3", "w-100", "text-center"]
  const error_message = document.getElementById("error-message");
  var error_message_concat = ""
  // error_message.innerHTML;
  var queryString = window.location.search;
  var err = new URLSearchParams(queryString).get('error')
  console.log(err);
  if(err != null || err != ""){
    error_message.innerHTML = err
    error_message.style.visibility = "visible";
  }else{
    error_message.innerHTML = "";
    error_message.style.visibility = "hidden";

  }

  // form.addEventListener("submit", function (event) {
  //   event.preventDefault(); // Prevent form submission

  //   const username = usernameInput.value;
  //   const password = passwordInput.value;

  //   // Call a function to make the Axios POST request with the form data
  //   loginWithAccountNameAndPassword(username, password);
  // });

  // let loginWithAccountNameAndPassword = async (username, password) => {
  //   const loginData = {
  //     username: username,
  //     password: password,
  //   };
  //   await axios
  //           .post("/login", loginData)
  //           .then((response) => {
  //             if (response.status === 200) {
  //               console.log("success");
  //               response.json()
  //               // var accessToken =  response.json()
  //               // console.log(accessToken)
  //               // Handle successful login
  //               window.location.replace("/");
  //             } else {
  //               // Handle other successful responses or unexpected responses
  //               console.log("Unexpected response:", response);
  //             }
  //           })

  //           .catch((error) => {
  //             if (error.response.status === 401) {
  //               console.log("Account name or password is wrong");
  //               loginSpan.classList.add(...loginSpanClassList)
  //               loginSpan.innerHTML = "Username/Email or Password is wrong"

  //               setTimeout(() => {
  //                 loginSpan.innerHTML = "";
  //                 loginSpan.classList.remove(...loginSpanClassList)
  //               }, 10000)
  //             }
  //             else {
  //               console.log(error);

  //             }
  //           });}
 


    
</script>

</body>

</html>