<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Order Details</title>
  <link rel="stylesheet" href="../static/tailwind/index.css" />
  <link rel="stylesheet" href="../static/tailwind/font.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body class="overflow-x-hidden">
  <header th:replace="~{./fragments/header.html}"></header>
  <section class="mx-48 my-10 flex space-x-10">
    <div class="w-1/3">
      <img class="rounded-lg object-cover h-full" th:src="@{${order.service.urlImage}}" alt="working" />
    </div>
    <div class="w-2/3 space-y-6">
      <h1 class="text-4xl font-semibold" th:text="${order.service.serviceName}">
        House Cleaning
      </h1>
      <p th:text="${order.service.description}">

      </p>
      <ul class="space-y-4">
        <input type="hidden" id="orderId" th:value="${order.orderId}">
        <li>Work day: <span th:text="${order.schedule.workDay}"></span></li>
        <li>
          Payment method: <span th:text="${order.payment.paymentName}"></span>
        </li>
        <li>Price: <span th:text="'₫' + ${order.price}" class="price"></span></li>
        <li>
          Status:
          <span class="text-blue-bootstrap" th:text="${order.status}"></span>
        </li>
      </ul>
    </div>
  </section>
  <section class="mx-48 my-10 space-y-4 rounded-lg border-2 border-black bg-gray-100 p-6">
    <h2 class="text-center text-2xl font-semibold">Worker List</h2>
    <table class="w-full table-auto">
      <thead>
        <tr>
          <th class="border-r-2 border-black">First Name</th>
          <th>Last Name</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr th:each="worker : ${order.schedule.workers}">
          <td class="py-2 border-r-2 border-black" th:text="${worker.firstName}"></td>
          <td class="py-2" th:text="${worker.lastName}"></td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="rating-and-comment mx-48 my-10 flex-col space-y-3">
    <h4 class="text-center text-xl font-semibold">Add a comment</h4>
    <div>
      <input type="radio" name="rating" value="1" id="1" class="hidden" /><label for="1"><i
          class="fa-regular fa-star text-yellow-info"></i></label>
      <input type="radio" name="rating" value="2" id="2" class="hidden" /><label for="2"><i
          class="fa-regular fa-star text-yellow-info"></i></label>
      <input type="radio" name="rating" value="3" id="3" class="hidden" /><label for="3"><i
          class="fa-regular fa-star text-yellow-info"></i></label>
      <input type="radio" name="rating" value="4" id="4" class="hidden" /><label for="4"><i
          class="fa-regular fa-star text-yellow-info"></i></label>
      <input type="radio" name="rating" value="5" id="5" class="hidden" /><label for="5"><i
          class="fa-regular fa-star text-yellow-info"></i></label>
    </div>
    <div>
      <textarea class="form-control w-full rounded-lg border-2 border-black p-6"
        placeholder="Write your feedback to us..." rows="4" th:text="${order.comment}" id="comment"></textarea>
    </div>

    <div class="flex justify-end">
      <button class="rounded-md bg-green-success px-8 py-2 text-white" id="sendComment">
        Send
      </button>
    </div>
  </section>
  <footer th:replace="~{./fragments/footer.html}"></footer>
  <script th:inline="javascript">
    const radios = document.getElementsByName("rating");
    const stars = document.getElementsByClassName("fa-star");
    const price = document.querySelectorAll('.price')
    let ratingValue = 0;
    const changeStar = (stars, numOfStars) => {
      for (i = 0; i < 5; i++) {
        if (stars[i].classList.contains("fa")) {
          stars[i].classList.replace("fa", "fa-regular");
        }
      }
      for (i = 0; i < numOfStars; i++) {
        stars[i].classList.replace("fa-regular", "fa");
      }
    };
    price.forEach(p => {
      let number = parseInt(p.innerHTML.split('₫')[1]);
      let [integerPart, decimalPart] = number.toFixed(0).toString().split('.');
      let formattedIntegerPart = integerPart.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
      let formattedNumber = decimalPart ? `${formattedIntegerPart}.${decimalPart}` : formattedIntegerPart;
      p.innerHTML = `₫${formattedNumber}`
    })
    document.addEventListener("DOMContentLoaded", () => {
      ratingValue = /*[[${order.rating}]]*/ 0;
      console.log(ratingValue);
      if (ratingValue !== 0) {
        changeStar(stars, ratingValue);
      }
    });
    document.getElementsByName("rating").forEach((button) =>
      button.addEventListener("change", () => {
        switch (button.value) {
          case "1":
            changeStar(stars, 1);
            break;
          case "2":
            changeStar(stars, 2);
            break;
          case "3":
            changeStar(stars, 3);
            break;
          case "4":
            changeStar(stars, 4);
            break;
          case "5":
            changeStar(stars, 5);
            break;
        }
        ratingValue = parseInt(button.value);
      })
    );
    let sendComment = () => {
      requestBody = {
        orderId: document.getElementById("orderId").value,
        rating: ratingValue,
        comment: document.getElementById("comment").value
      };
      console.log(requestBody);
      fetch("/api/order/review", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(requestBody),
      })
        .then((res) => {
          console.log(res);
          if (res.status === 200) {
            alert("You have commented successfully");
          } else if (res.status === 503) {
            alert("Must complete order to comment");
          } else {
            alert("Fail to commit comment")
          }
        })
        .catch((err) => {
          if (err.response.status === 401) {
            console.log("Exception");
          }
        });
    };
    document.getElementById("sendComment").addEventListener("click", () => {
      sendComment();
    })
  </script>
</body>

</html>