<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org" class="h-[100%] w-[100%]">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/097aba0852.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/tailwind/font.css" />
  <link rel="stylesheet" href="../static/tailwind/index.css" />
  <title>Service name goes here</title>
</head>

<body class="overflow-x-hidden h-[100%] w-[100%]">

  <header th:replace="~{./fragments/header.html}"></header>

  <div class="verifyContainer bg-orange-500 mx-20 my-7 py-5 px-4 relative flex items-center"
    th:if="${acc.isEnable <= 0}">
    <span class="">Please verify this account: <span class="ml-1 font-semibold"
        th:text="${acc != null} ? ${acc.accountName} : ''"></span></span>
    <button class="absolute right-0 mr-4 py-2 px-5 bg-transparent border-2 border-black"><a
        th:href="@{/verificationMethod(username=${acc.accountName})}" class="verifyBtn">Verify</a></button>
  </div>

  <div class="mt-7 border-2 border-black mb-7 xl:mx-20 lg:mx-20 md:mx-20 sm:mx-0 xm:mx-0">

    <div class="mx-10 my-8 h-[100%] flex">
      <div class="w-[40%] h-[100%]">
        <div class="">
          <div class="bg-blue-400 flex justify-center items-center py-[5%] rounded-lg">
            <div class=" w-[40%]"><img class="pfp object-cover w-[200px] h-[200px] border-8 border-white rounded-full"
                src="../static/assets/images/user.png" alt="" srcset="">
            </div>
          </div>
        </div>

        <div class="flex flex-col items-center">
          <button
            class="edit-btn mt-7 bg-blue-300 hover:bg-blue-400 w-[50%] py-[1%] rounded-lg text-xl font-medium">Edit
            Profile</button>
          <button class="mt-7 bg-blue-300 hover:bg-blue-400 w-[50%] py-[1%] rounded-lg text-xl font-medium"><a
              class="text-decoration-none text-black w-[100%]" href="/resetpwd" target="_blank">Change
              Password</a></button>
          <button
            class="change-pfp-btn mt-7 bg-blue-300 hover:bg-blue-400 w-[50%] py-[1%] rounded-lg text-xl font-medium">Change
            Profile
            Picture</button>
          <div class="upload-btn-container hidden w-[50%] mt-7 flex flex-col items-center">
            <span class="w-[100%] flex justify-center">
              <label for="upload-file"
                class="browse-pfp-btn w-[50%] bg-slate-300 hover:bg-slate-400 rounded-lg text-xl font-medium py-[1%] flex-1 text-center mr-[1%] flex justify-center">
                <span class="flex justify-center items-center"><i class="fa fa-upload mr-[5%]"
                    aria-hidden="true"></i>Browse</span>
              </label>
              <input type="file" class="hidden" value="" id="upload-file">
              <button
                class="upload-pfp-btn w-[50%] bg-green-300 hover:bg-green-400 py-[1%] px-[2%] rounded-lg text-xl font-medium flex-1 ml-[1%]">Upload</button>
            </span>
            <button
              class="cancel-pfp-btn mt-7 bg-red-300 hover:bg-red-400 w-[50%] py-[1%] rounded-lg text-xl font-medium">Cancel
            </button>
          </div>

          <div class="mt-7">
            <p class="img-file-name hidden"></p>
          </div>

        </div>
      </div>

      <div class="edit-form-container w-[60%] pl-[2%] pointer-events-none">
        <form class="edit-profile-form">
          <label for="">Username<span
              class="error-message italic text-red-500 ml-1 hidden text-[13px]"></span></label><br>
          <input type="text" name="txtUsername" value="" th:placeholder="${acc != null} ? ${acc.accountName}"
            class="profile-form-input w-[100%] border-2 rounded-lg bg-slate-200 px-3 py-2 mb-3 focus:outline-0">

          <label for="">Email<span class="error-message italic text-red-500 ml-1 hidden text-[13px]"></span></label><br>
          <input type="text" name="txtEmail" value="" th:placeholder="${acc != null} ? ${acc.email}"
            class="profile-form-input w-[100%] border-2 rounded-lg bg-slate-200 px-3 py-2 mb-3 focus:outline-0">

          <label for="">First Name</label><br>
          <span class="mb-3 flex">
            <input type="text" th:placeholder="${acc != null} ? ${acc.firstName}"
              class="prohibit-input w-[100%] border-2 rounded-l-lg bg-slate-200 px-3 py-2 pointer-event-none focus:outline-0 capitalize">
            <i class="fa fa-lock flex items-center border-2 rounded-r-lg bg-slate-200 pr-3"
              title="you can't edit this field"></i></span>

          <label for="">Last Name</label><br>
          <span class="mb-3 flex">
            <input type="text" th:placeholder="${acc != null} ? ${acc.lastName}"
              class="prohibit-input w-[100%] border-2 rounded-l-lg bg-slate-200 px-3 py-2 pointer-event-none focus:outline-0 capitalize">
            <i class="fa fa-lock flex items-center border-2 rounded-r-lg bg-slate-200 pr-3"
              title="you can't edit this field"></i></span>

          <label for="">Date of Birth<span
              class="error-message italic text-red-500 ml-1 hidden text-[13px]"></span></label><br>
          <input type="text" name="txtDate" value="" th:placeholder="${acc != null} ? ${acc.dob}"
            class="profile-form-input w-[100%] border-2 rounded-lg bg-slate-200 px-3 py-2 mb-3 focus:outline-0">

          <label for="">Phone<span class="error-message italic text-red-500 ml-1 hidden text-[13px]"></span></label><br>
          <div class="mb-3 w-[100%]">
            <span class="flex">
              <input type="text" name="txtPhone" value="" th:placeholder="${phone != null} ? ${phone[0].number}"
                class="phoneInput profile-form-input w-[100%] border-2 rounded-l-lg bg-slate-200 px-3 py-2 focus:outline-0">
              <input type="hidden" name="txtPhoneId" th:value="${phone != null} ? ${phone[0].phoneId}">
              <i
                class="phoneDropDownButton fa fa-angle-down flex items-center border-2 rounded-r-lg bg-slate-200 pr-3 cursor-pointer"></i>
            </span>

            <div id="phoneDropdownContainer"
              class="z-10 divide-y hidden divide-gray-100 rounded-lg shadow w-inherit relative">
              <ul
                class="phoneSpanContainer absolute w-inherit h-[7.5rem] border-2 border-black bg-slate-200 overflow-y-scroll"
                aria-labelledby="dropdownDividerButton">
                <li class="relative" th:each="fone: ${phone}">
                  <span class="phoneSpan block text-black px-3 py-1 hover:bg-gray-300 cursor-pointer"
                    th:text="${phone != null} ? ${fone.number} : ''" th:attr="data-id=${fone.phoneId}">1234567890</span>
                </li>

              </ul>
            </div>
          </div>

          <div class="mb-3 w-[100%] flex items-center">
            <div class="w-[100%]">
              <label for="">Room</label><br>
              <span class="mb-3 flex">
                <input type="text" th:placeholder="${address != null} ? ${address.buildingRoom}"
                  class="prohibit-input w-[100%] border-2 rounded-l-lg bg-slate-200 px-3 py-2 focus:outline-0">
                <i class="fa fa-lock flex items-center border-2 rounded-r-lg bg-slate-200 pr-3"
                  title="you can't edit this field"></i></span>
            </div>

            <div class="ml-[6%] w-inherit">
              <label>Block</label><br>
              <div class="flex">
                <span class="prohibit-input-radio py-2 flex flex-[.5]">
                  <input class="scale-[1.3]" type="radio" value="A" th:checked="${address.buildingBlock} == A">
                  <input type="hidden" class="uid" th:value="${acc != null} ? ${acc.accountId}">
                  <span class="ml-[3%]">
                    Block A</span>
                </span>
                <span class="prohibit-input-radio py-2 flex flex-[.5]">
                  <input class="scale-[1.3]" type="radio" value="B" th:checked="${address.buildingBlock} == B">
                  <span class="ml-[3%]">
                    Block B</span>
                </span>
                <span class="prohibit-input-radio py-2 flex flex-[.5]">
                  <input class="scale-[1.3]" type="radio" value="C" th:checked="${address.buildingBlock} == C">
                  <span class="ml-[3%]">
                    Block C</span>
                </span>
              </div>
            </div>
          </div>
          <div class="flex justify-end ">
            <button class="cancel-btn px-3 py-2 bg-red-400 mr-[2%] rounded-lg hover:bg-red-500">Cancel</button>
            <button type="submit"
              class="submit-btn px-3 py-2 bg-blue-400 mr-[2%] rounded-lg hover:bg-blue-500">Save</button>
          </div>
        </form>

      </div>

    </div>



  </div>
  <footer th:replace="~{./fragments/footer.html}"></footer>

  <script src="../static/js/editProfile.js">

  </script>


</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



</html>