<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form>
        first name
        <input type="text" name="firstName" value="">
        last name
        <input type="text" name="lastName" value=""><br>
        username
        <input type="text" name="firstName" value="">
        password
        <input type="text" name="firstName" value=""><br>
        email
        <input type="text" name="firstName" value=""><br>
        <button type="submit">Register</button>


    </form>
</body>
</html>