<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">

<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="../static/bootstrap5/css/bootstrap.css">
</head>


<body class="min-vh-100 d-flex align-items-center justify-content-center">
<div class="container-fluid w-25">
    <h1 class="text-center">Change Password</h1>
    <form id="resetPassword-form" class="mt-3">
        <div id="loginStatusText" class="" style="color: red;"></div>
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label">Old Password</label>
            <div class="error-message fst-italic text-danger"
                 style="font-size: 12px; margin-left: .75%; margin-bottom: 2px;"></div>
            <input type="password" name="old_password" id="old_password" value="" class="form-control op" />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label">New Password</label>
            <div class="error-message fst-italic text-danger"
                 style="font-size: 12px; margin-left: .75%; margin-bottom: 2px;"></div>
            <input type="password" name="new_password" id="new_password" value="" class="form-control np" />
            <div class="requireTxt fst-italic"
                 style="font-size: 12px; margin-left: .75%; margin-bottom: 2px; margin-top: 2px; color: red;">⋇
                Password must contain
                more than 3
                character</div>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label">Confirm New Password</label>
            <div class="error-message fst-italic text-danger"
                 style="font-size: 12px; margin-left: .75%; margin-bottom: 2px;"></div>
            <input type="password" name="confirm_password" value="" class="form-control cnp" />
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4 w-100">Change Password</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
        const resetPasswordForm = document.getElementById('resetPassword-form')
        const resetBtn = document.querySelector('.btn')
        const op = document.querySelector('.op')
        const np = document.querySelector('.np')
        const cnp = document.querySelector('.cnp')
        const requireTxt = document.querySelector('.requireTxt')
        const form_data = new FormData(resetPasswordForm);
        const data = Object.fromEntries(form_data);
        const requireTxtPassed = "⋇ Password must contain more than 3 character"
        let enoughLength = false;
np.addEventListener('keyup', () => {
            if (document.getElementById('new_password').value.length >= 3) {
                requireTxt.classList.remove('text-danger')
                requireTxt.innerHTML = `${requireTxtPassed} ✔`
                requireTxt.style.color = 'green'
                enoughLength = true
            }
            else {
                requireTxt.innerHTML = requireTxtPassed
                requireTxt.style.color = 'red'
                let enoughLength = false;
            }
        })
        resetBtn.addEventListener('click', (e) => {
            e.preventDefault();
            resetBtn.classList.add('disabled')
            getOldPwd();
        })
        const getOldPwd = async () => {
            const form = new FormData(resetPasswordForm);
            const formData = Object.fromEntries(form);
            let opCorrect = false, cnpCorrect = false
            let { data } = await axios.get('/api/order/getSession')
            const userId = data.accountId;
            const oldP = data.password;
            console.log(oldP)
            data = ''
            if (np.value !== cnp.value) {
                cnp.previousElementSibling.innerHTML = "❌ Confirm password is wrong"
                cnpCorrect = false
            }
            else {
                cnp.previousElementSibling.innerHTML = ""
                cnpCorrect = true
            }
            if (document.getElementById('old_password').value.length > 0 && cnpCorrect && enoughLength) {
                console.log(formData);
                const res = await fetch(`http://localhost:8080/api/resetpassword/resetPwd/${userId}`,
                    {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(formData)
                    });
                console.log(res);
                if (res.status == 200) {
                    alert("✔ Reset password successfully")
                    op.value = '';
                    np.value = '';
                    cnp.value = '';
                    op.previousElementSibling.innerHTML = ""
                    np.previousElementSibling.innerHTML = ""
                    cnp.previousElementSibling.innerHTML = ""
                    requireTxt.innerHTML = requireTxtPassed
                    requireTxt.style.color = 'red'
                    window.location.href = "/logout"
                }
                else if (res.status == 406) {
                    op.previousElementSibling.innerHTML = "❌ Old password is wrong"
                    console.log(res)
                }
            }
            resetBtn.classList.remove('disabled')


        };

    </script>

</body>

</html>