<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">

<head>
    <meta charset="UTF-8">
    <title class="service_title"></title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="../static/MinhCSS/service.css">
</head>

<body>
    <h3 th:text="${service != null} ? 'Service Name: ' + ${service.serviceName} : ''" class="service_name"></h3>
    <div class="service_desc">Description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. A distinctio
        officiis inventore, veritatis illo ipsa modi unde assumenda nihil cumque ipsam qui neque nemo, itaque esse nulla
        iure, sed fugiat.</div>
    <div th:text="${service != null} ? 'price: ' + ${service.price} : ''" class="service_price"></div>
    <button onclick="fillFormInfo()" class="order_btn">order</button>

    <div class="order_form">
        <form>
            <span class="order_username"><label class="label_username"><i>username: </i></label><input type="text"
                    class="input_username" th:value="${acc != null} ? ${acc.accountName} : ''"></span><br>

            <span class="order_category"><label class="label_username"><i>category: </i></label><input type="text"
                    class="input_category" value=""></span><br>

            <span class="order_service"><label class="label_username"><i>service: </i></label><input type="text"
                    class="input_service" value=""></span><br>

            <span class="order_address"><label class="label_username"><i>address: </i></label><input type="text"
                    class="input_address" value=""></span><br>

            <button type="submit">confirm order</button>
            <button type="button" onclick="closeForm()">close</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const getServiceDetail = async () => {
            // const params = window.location.search;
            // const cname = new URLSearchParams(params).get('cname');
            // const sid = new URLSearchParams(params).get('sid');
            // const sname = new URLSearchParams(params).get('sname');
            // const title = document.querySelector('.service_title');
            // const serviceName = document.querySelector('.service_name');
            // const serviceDesc = document.querySelector('.service_desc');
            // const servicePrice = document.querySelector('.service_price');
            // const inputUsername = document.querySelector('.input_username');
            // const inputCategory = document.querySelector('.input_category');
            // const inputService = document.querySelector('.input_service');

            // const { data } = await axios.get(`/category/service/${sid}`);
            // console.log(data);
            // title.innerHTML = data.serviceName;
            // serviceName.innerHTML = data.serviceName;
            // serviceDesc.innerHTML += 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam officiis modi molestiae assumenda ducimus suscipit praesentium provident molestias dolore, quam, corporis sit excepturi amet animi cupiditate sed iusto. Eaque, soluta?';
            // servicePrice.innerHTML += data.price;

            // inputUsername.readOnly = true;


        }
        const orderForm = document.querySelector('.order_form');
        const fillFormInfo = () => {
            orderForm.classList.add('appear');
        }
        function closeForm() {
            orderForm.classList.remove('appear');
        }

        getServiceDetail()
    </script>
</body>

</html>