<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">

<head>
  <meta charset="UTF-8" />
  <title th:text="${service.serviceName}"></title>
  <link rel="stylesheet" href="../static/tailwind/font.css" />
  <link rel="stylesheet" href="../static/tailwind/index.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <header th:replace="~{./fragments/header.html}"></header>

  <section class="mx-48 my-10 flex flex-col space-y-6 rounded-lg border-2 border-black p-8">
    <div class="flex space-x-6">
      <img th:src="@{${service.urlImage}}" class="w-[300px] h-inherit rounded-lg object-cover" alt="service's imgage" />
      <div class="flex flex-col w-full">
        <h2 class="mb-2 text-xl font-bold serviceName" th:text="${service.serviceName}"></h2>
        <p th:if="${service.description != null}" th:text="${service.description}" class="mb-2"></p>
        <p th:unless="${service.description != null}" class="mb-2">
          No description available
        </p>
        <p class="mb-2">
          Price:
          <span class="text-blue-bootstrap price" th:text="'₫' + ${service.price}"></span>
        </p>
        <p class="mb-2">
          Number of workers:
          <span class="text-blue-bootstrap" th:text="${service.numOfPeople}"></span>
        </p>
        <p class="mb-2">
          Category:
          <span class="text-blue-bootstrap" th:text="${category.serviceCategoryName}"></span>
        </p>
        <div class="flex-1 flex flex-col justify-end items-end">
          <input type="hidden" th:value="${service.serviceId}" />
          <button class=" order-btn rounded-lg bg-blue-bootstrap px-8 py-2 text-left text-white">
            Order
          </button>
        </div>

      </div>
    </div>

  </section>
  <section class="mx-48 my-20">
    <h1 class="m-4 text-2xl font-bold">Comments</h1>
    <div class="space-y-12 rounded-xl border-2 border-black p-16">
      <div class="flex space-x-6 border-b-2 border-black pb-6" th:each="order : ${ordersByService}"
        th:if="${order.rating != 0}">
        <img src="../static/assets/images/user.png" class="h-[50px] w-[50px] rounded-full" alt="user's avatar" />
        <div>
          <h2 class="text-lg font-bold" th:text="${order.Account.accountName}"></h2>
          <p th:text="${order.comment}"></p>
          <br />
          <div>
            <i th:each="i: ${#numbers.sequence(1, 5)}">
              <i
                th:class="${i <= order.rating} ? 'fa-solid fa-star text-yellow-info' : 'fa-regular fa-star text-yellow-info'"></i>
            </i>
          </div>
        </div>
        <br />
      </div>
    </div>
  </section>
  <section th:replace="~{./fragments/order-form.html}"></section>
  <footer th:replace="~{./fragments/footer.html}"></footer>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Execute the fetchData function after the segment is loaded
      loadOrderForm();
    });
    const price = document.querySelector('.price')
    let number = parseInt(price.innerHTML.split('₫')[1]);
    let [integerPart, decimalPart] = number.toFixed(0).toString().split('.');
    let formattedIntegerPart = integerPart.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
    let formattedNumber = decimalPart ? `${formattedIntegerPart}.${decimalPart}` : formattedIntegerPart;
    price.innerHTML = `₫${formattedNumber}`
  </script>
</body>

</html>