<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/general.css">
    <title>Staff Page</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
</head>
<body onload="getSessionData()">
<h1 id="text">Hello </h1>
<a href="/login" class="login_btn">Login Now!</a>
<a href="#" onclick="logOut()" class="logout_btn">Logout Now!</a>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../static/js/authentication.js"></script>
</body>
</html>