<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org" class="h-[100%] w-[100%]">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/097aba0852.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/tailwind/index.css">
  <title>Verification</title>

  <style>
    .otc {
      position: relative;
      width: 320px;
      margin: 0 auto;
    }

    .otc fieldset {
      border: 0;
      padding: 0;
      margin: 0;
    }

    /* .otc fieldset div {
	display: flex;
	align-items: center;
} */

    .otc legend {
      margin: 0 auto 1em;
      /* //color: #5555FF; */
    }

    input[type="number"] {
      width: .82em;
      line-height: 1;
      margin: .1em;
      /* padding: 8px 0 4px; */
      font-size: 2.65em;
      text-align: center;
      appearance: textfield;
      -webkit-appearance: textfield;
      border: 2px solid black;
      /* color: purple; */
      border-radius: 4px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* 2 group of 3 items */
    input[type="number"]:nth-child(n+4) {
      order: 2;
    }

    /* From: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034 */
    .otc label {
      border: 0 !important;
      clip: rect(1px, 1px, 1px, 1px) !important;
      -webkit-clip-path: inset(50%) !important;
      clip-path: inset(50%) !important;
      height: 1px !important;
      margin: -1px !important;
      overflow: hidden !important;
      padding: 0 !important;
      position: absolute !important;
      width: 1px !important;
      white-space: nowrap !important;
    }
  </style>
</head>

<body class="h-[100%] w-[100%]">
  <div class="h-inherit w-inherit flex justify-center items-center">
    <div
      class="chooseVerificationContainer border-2 rounded-lg w-[30%] h-auto relative py-2 px-3 transition-all duration-100 ease-in">
      <div class="selectVerification flex flex-col">
        <div>
          <div class="text-center text-xl font-semibold">Please select a verification method</div>
          <div class="flex flex-col justify-center items-center my-2">
            <div class="flex flex-col">
              <span><input type="radio" name="btnRadioVerification" value="SMS"><span class="ml-2">Verify via phone
                  number
                  (SMS)</span></span>
              <span><input type="radio" name="btnRadioVerification" value="EMAIL" checked><span class="ml-2">Verify via
                  email</span></span>
            </div>
          </div>
        </div>
        <div class="my-3">
          <button
            class="next-btn float-right py-1 px-2 border-2 border-black bg-white rounded-lg ml-2 hover:bg-slate-200">Next</button>
          <button
            class="cancel-btn float-right py-1 px-2 border-2 border-black bg-red-300 rounded-lg hover:bg-red-400">Cancel</button>
        </div>
      </div>

      <div class="otpForm hidden flex flex-col items-center justify-center">

        <div class="my-5 text-xl font-semibold">OTP Verification</div>
        <div class="my-5">
          Hello User,
        </div>
        <div>
          <form class="otc" name="one-time-code" action="#">
            <legend class="text-center">Please Enter Validation Code You Recived In Your Phone</legend>
            <fieldset class="flex justify-around">
              <label for="otc-1">Number 1</label>
              <label for="otc-2">Number 2</label>
              <label for="otc-3">Number 3</label>
              <label for="otc-4">Number 4</label>
              <label for="otc-5">Number 5</label>
              <label for="otc-6">Number 6</label>
              <!-- https://developer.apple.com/documentation/security/password_autofill/enabling_password_autofill_on_an_html_input_element -->
              <div>
                <input class="otp-input" type="number" pattern="[0-9]*" value="" inputtype="numeric"
                  autocomplete="one-time-code" id="otc-1" required>
                <input class="otp-input" type="number" pattern="[0-9]*" min="0" max="9" maxlength="1" value=""
                  inputtype="numeric" id="otc-2" required>
                <input class="otp-input" type="number" pattern="[0-9]*" min="0" max="9" maxlength="1" value=""
                  inputtype="numeric" id="otc-3" required>
                <input class="otp-input" type="number" pattern="[0-9]*" min="0" max="9" maxlength="1" value=""
                  inputtype="numeric" id="otc-4" required>
                <input class="otp-input" type="number" pattern="[0-9]*" min="0" max="9" maxlength="1" value=""
                  inputtype="numeric" id="otc-5" required>
                <input class="otp-input" type="number" pattern="[0-9]*" min="0" max="9" maxlength="1" value=""
                  inputtype="numeric" id="otc-6" required>
              </div>
            </fieldset>

            <div class="my-5 flex justify-center items-center" id="timer">
              OTP expired in: <span class="ml-2 font-bold text-red-400">60s</span>
            </div>
            <div class="my-5 flex justify-center items-center" id="timer">
              If you didn't receive the code! <span class="ml-1"><a href="#"
                  class="text-blue-300 hover:underline hover:text-blue-400">Resend</a></span>
            </div>
            <div class="flex items-center justify-center">
              <button
                class="border-2 border-black bg-blue-300 w-full rounded-lg hover:bg-blue-400 py-1 px-2">Submit</button>
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>
  <script>
    const nextBtn = document.querySelector('.next-btn')
    const cancelBtn = document.querySelector('.cancel-btn')
    const chooseVerificationContainer = document.querySelector('.chooseVerificationContainer')

    const selectVerification = document.querySelector('.selectVerification')

    const otpForm = document.querySelector('.otpForm')

    nextBtn.addEventListener('click', (e) => {
      e.preventDefault()
      chooseVerificationContainer.style.width = `${40}%`
      chooseVerificationContainer.style.height = `${60}%`
      otpForm.classList.toggle('hidden')
      selectVerification.classList.toggle('hidden')
    })
    let in1 = document.getElementById('otc-1'),
      ins = document.querySelectorAll('input[type="number"]'),
      splitNumber = function (e) {
        let data = e.data || e.target.value; // Chrome doesn't get the e.data, it's always empty, fallback to value then.
        if (!data) return; // Shouldn't happen, just in case.
        if (data.length === 1) return; // Here is a normal behavior, not a paste action.
        popuNext(e.target, data);
        //for (i = 0; i < data.length; i++ ) { ins[i].value = data[i]; }
      },
      popuNext = function (el, data) {
        el.value = data[0]; // Apply first item to first input
        data = data.substring(1); // remove the first char.
        if (el.nextElementSibling && data.length) {
          // Do the same with the next element and next data
          popuNext(el.nextElementSibling, data);
        }
      };

    ins.forEach(function (input) {
      /**
       * Control on keyup to catch what the user intent to do.
       * I could have check for numeric key only here, but I didn't.
       */
      input.addEventListener('keyup', function (e) {
        // Break if Shift, Tab, CMD, Option, Control.
        if (e.keyCode === 16 || e.keyCode == 9 || e.keyCode == 224 || e.keyCode == 18 || e.keyCode == 17) {
          return;
        }

        // On Backspace or left arrow, go to the previous field.
        if ((e.keyCode === 8 || e.keyCode === 37) && this.previousElementSibling && this.previousElementSibling.tagName === "INPUT") {
          this.previousElementSibling.select();
        } else if (e.keyCode !== 8 && this.nextElementSibling) {
          this.nextElementSibling.select();
        }

        // If the target is populated to quickly, value length can be > 1
        if (e.target.value.length > 1) {
          splitNumber(e);
        }
      });

      /**
       * Better control on Focus
       * - don't allow focus on other field if the first one is empty
       * - don't allow focus on field if the previous one if empty (debatable)
       * - get the focus on the first empty field
       */
      input.addEventListener('focus', function (e) {
        // If the focus element is the first one, do nothing
        if (this === in1) return;

        // If value of input 1 is empty, focus it.
        if (in1.value == '') {
          in1.focus();
        }

        // If value of a previous input is empty, focus it.
        // To remove if you don't wanna force user respecting the fields order.
        if (this.previousElementSibling.value == '') {
          this.previousElementSibling.focus();
        }
      });
    });

    /**
     * Handle copy/paste of a big number.
     * It catches the value pasted on the first field and spread it into the inputs.
     */
    in1.addEventListener('input', splitNumber);

  </script>
</body>

</html>