<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org" class="w-[100%] h-[100%]">

<head>
    <meta charset="UTF-8">
    <title>Verify</title>
    <script src="https://kit.fontawesome.com/097aba0852.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/tailwind/font.css" />
    <link rel="stylesheet" href="../static/tailwind/index.css" />
    <style>
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
</head>

<body class="w-[100%] h-[100%]">

    <div class="w-inherit h-inherit flex justify-center items-center">
        <div class="resetFieldContainer w-[45%] h-[25%] rounded-lg bg-blue-200 flex overflow-hidden relative">
            <div
                class="resetField flex flex-col justify-center items-center w-[100%] h-[100%] transition-all duration-300 ease-linear">

                <div class="flex flex-col justify-center items-center my-2 whitespace-nowrap">
                    <div class="text-center text-xl font-semibold capitalize">Please
                        select a method
                        below to
                        verify yourself</div>

                    <div class="flex flex-col mt-3">
                        <span><input type="radio" name="btnRadioVerification" value="SMS"><span
                                class="ml-2 whitespace-nowrap">Verify via
                                phone
                                number
                                (SMS)</span></span>
                        <span><input type="radio" name="btnRadioVerification" value="EMAIL" checked><span
                                class="ml-2 whitespace-nowrap">Verify via
                                email</span></span>
                    </div>
                </div>
                <div class="w-[100%] flex justify-end px-5">
                    <button class="ml-2 border-2 px-3 py-2 rounded-lg hover:bg-blue-300"><a
                            href="/login">Back</a></button>
                    <button
                        class="proceedBtn nextBtn ml-2 border-2 px-3 py-2 rounded-lg hover:bg-blue-300">Next</button>
                </div>

            </div>

            <div
                class="resetField -z-10 flex flex-col justify-center items-center w-[0%] h-[100%] transition-all duration-300 ease-linear">
                <div class="finalVerify">
                    <div class="hidden otpCountDown enterOtp" th:include="~{./fragments/otpverification.html}"></div>
                    <div class="hidden sendMail whitespace-nowrap capitalize">
                        we just send you an email
                        <div class="text-center capitalize"><a href="/"
                                class="text-blue-500 hover:underline hover:text-blue-600">Return to homepage</a></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>

<script src="../static/js/chooseVerifyMethod.js">
</script>

</html>